mixin multiservice-programms(mods)
  -
    const baseName = 'multiservice-programms'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const multiserviceProgramms = [
      {
        tabName: 'Юрист 24',
        tabMod: 'jurist',
        head: {
          name: 'Услуга / Тарифный план',
          content: [
            'Юрист 24 <br>Лайт',
            'Юрист 24 <br>Стандарт',
            'Юрист 24 <br>Голд',
          ],
        },
        body: [
          {
            name: '«8-800» Бесплатные звонки из  любой точки РФ',
            content: [
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Круглосуточная экстренная юридическая консультация (24/7) - устная консультация по всем юридическим вопросам в рамках законодательства РФ, кроме  вопросов предпринимательской деятельности',
            content: [
              '15 консультаций / год',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Личный кабинет - персональный раздел на сайте Компании. В Личном кабинете размещены аудиозаписи устных консультаций, через Личный кабинет можно  направить и получить письменные документы',
            content: [
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Предоставление по запросу форм  документов - более 350 типовых договоров, исков, доверенностей и прочих документов предоставляются по запросу Клиента через Личный кабинет',
            content: [
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Вызов экстренных служб - предоставление специалистом компании номеров служб экстренного  реагирования (МЧС, Полиция, Скорая помощь) на территории РФ, а также помощь в вызове данных служб по запросу Клиента',
            content: [
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Письменная консультация - письменная консультация по всем юридическим вопросам в рамках законодательства РФ, кроме вопросов по предпринимательской  деятельности. Предоставляется по личному запросу через Личный кабинет',
            content: [
              '1 раз / год',
              '1 раз / год',
              '4 раза / год',
            ],
          },
          {
            name: 'Дети клиента - экстренные консультации по вопросам, требующим немедленного реагирования, могут получить все несовершеннолетние дети Клиента, зарегистрированные через Личный кабинет на сайте Компании',
            content: [
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Моя семья - юридическая помощь, информационная и правовая поддержка, предоставляемые Компанией  одному из членов семьи Клиента в пределах объема услуг по Сертификату',
            content: [
              'Нет',
              'Нет',
              'Включено',
            ],
          },
          {
            name: 'Юридический навигатор - (24/7) - предоставление информации об органах государственной и муниципальной власти, их функциях и режиме работы. Рекомендации  о порядке обращения и подачи жалоб и запросов.',
            content: [
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Отпуск без проблем - проверка на  наличие возможного запрета на выезд Клиента за границу по причине имеющихся задолженностей',
            content: [
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Официальный звонок юриста от имени Клиента - звонок специалиста Компании от имени Клиента третьему лицу с целью представления интересов Клиента',
            content: [
              '1 раз / год',
              '2 раза / год',
              '4 раза / год',
            ],
          },
          {
            name: 'Законодательство онлайн - информация об изменениях законодательства и предоставление актуальных нормативных актов по проблеме, интересующей Клиента',
            content: [
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Срок действия Сертификата',
            content: [
              '1 год',
              '1 год',
              '1 год',
            ],
          },
          {
            name: 'Стоимость Сертификата',
            content: [
              '6000 ₽',
              '8500 ₽',
              '15 000 ₽',
            ],
          },
        ],
        footnote: '*Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе «Азиатско-Тихоокеанского Банка» (АО).<br>Банк является агентом на основании Агентского договора. Услуги по сертификатам Юрист 24, Налогия и Мультисервис осуществляет компания ООО «Европейская Юридическая Служба».<br>Размер агентского вознаграждения по агентскому договору с компанией 80% от стоимости продукта, в т.ч. НДС 20%.'
      },
      {
        tabName: 'Налогия',
        tabMod: 'tax',
        head: {
          name: 'Услуга / Тарифный план',
          content: [
            'Налогия<br>Лайт',
            'Налогия<br>Стандарт',
            'Налогия<br>Голд',
          ],
        },
        body: [
          {
            name: '«8-800» Бесплатные звонки из любой точки РФ',
            content: [
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Устная дистанционная консультация по вопросам налогообложения доходов физического лица и получения налоговых вычетов – консультирование по телефону по любым вопросам, связанным с действием налогового законодательства в отношении физических лиц, не являющихся индивидуальными предпринимателями',
            content: [
              '1 консультация / год',
              '3 консультации / год',
              '6 консультаций / год',
            ],
          },
          {
            name: 'Личный кабинет - персональный раздел на сайте Компании. В Личном кабинете размещены аудиозаписи устных консультаций, через Личный кабинет можно направить и получить письменные документы',
            content: [
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Консультирование по порядку подготовки документов для получения налогового вычета',
            content: [
              'Нет',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Устное консультирование при проведении камеральной проверки',
            content: [
              'Нет',
              'Нет',
              'Включено',
            ],
          },
          {
            name: 'Экспертиза документов Клиента – анализ представленных Клиентом через Личный кабинет документов для получения налогового вычета, определение полноты и достаточности документов, предоставление устных рекомендаций по дополнению представленного перечня, корректировке представленных документов',
            content: [
              'Нет',
              'Нет',
              'Включено',
            ],
          },
          {
            name: 'Заполнение налоговой декларации и заявления на предоставление налогового вычета – оформление налоговой декларации по налогу на доходы физических лиц за Клиента при условии предоставления необходимых документов',
            content: [
              '1 раз / год',
              '1 раз / год',
              '1 раз / год',
            ],
          },
          {
            name: 'Подготовка письменных пояснений при камеральной проверке',
            content: [
              'Нет',
              'Нет',
              '2 документа / год',
            ],
          },
          {
            name: 'Отправка документов с помощью ЭЦП',
            content: [
              'Нет',
              'Нет',
              '1 декларация в год',
            ],
          },
          {
            name: 'Срок действия Сертификата',
            content: [
              '1 год',
              '1 год',
              '1 год',
            ],
          },
          {
            name: 'Стоимость Сертификата',
            content: [
              '1000 ₽',
              '4200 ₽',
              '6200 ₽',
            ],
          },
        ],
        footnote: '*Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе «Азиатско-Тихоокеанского Банка» (АО).<br>Банк является агентом на основании Агентского договора. Услуги по сертификатам Юрист 24, Налогия и Мультисервис осуществляет компания ООО «Европейская Юридическая Служба».<br>Размер агентского вознаграждения по агентскому договору с компанией 80% от стоимости продукта, в т.ч. НДС 20%.',
      },
      {
        tabName: 'Мультисервис',
        tabMod: 'multiservice',
        head: {
          name: 'Услуга / Тарифный план',
          content: [
            'Мультисервис<br>Лайт',
            'Мультисервис<br>Стандарт',
            'Мультисервис<br>Голд',
          ],
        },
        body: [
          {
            name: '«8-800» Бесплатные звонки из любой точки РФ',
            content: [
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Личный юрист - круглосуточные (24/7) консультации по всем юридическим вопросам в рамках законодательства РФ, кроме вопросов по предпринимательской деятельности',
            content: [
              'Телефонная консультация',
              'Телефонная  консультация + пакет документов',
              'Телефонная  консультация + пакет документов',
            ],
          },
          {
            name: 'Сервис для дома - помощь в устранении аварийных ситуаций в квартире:<br>-Потеря или поломка ключей в замке, вскрытие двери<br>-Аварии электрических сетей<br>-Аварии водопроводных и отопительных систем<br>-Консультации по подбору специалистов для работ, не входящих в сервисный пакет',
            content: [
              'Телефонная  консультация и Вызов мастера',
              'Вызов мастера + оплата его выезда  к клиенту',
              'Вызов мастера + оплата его выезда + мелкий ремонт с общим лимитом 4 500 рублей',
            ],
          },
          {
            name: 'Теледоктор 24 - консультации по любым медицинским вопросам:<br>-Консультация узкопрофильного специалиста<br>-Второе мнение по поставленному диагнозу<br>-Подбор врача в регионе Клиента<br>-Рекомендации по лекарственным средствам<br>-Помощь в экстренной ситуации',
            content: [
              'Телефонная консультация',
              'Телефонная консультация',
              'Телефонная консультация <br> Мед ориентирование',
            ],
          },
          {
            name: 'Финансовый помощник - консультации по ипотеке, страхованию, налоговым вычетам, пенсионным накоплениям:<br>-Помощь в структурировании доходов и расходов<br>-Составление личного финансового плана<br>-Независимая оценка финансовых решений<br>-Предложение инвестиционных решений по достижению финансовой свободы<br>-Помощь в разборе кредитной истории и возможностей',
            content: [
              'Телефонная консультация',
              'Телефонная консультация',
              'Телефонная консультация <br> Запрос кредитного рейтинга',
            ],
          },
          {
            name: 'Animal phone - консультации ветеринаров по уходу и лечению домашних питомцев:<br>-Направление в ветеринарные клиники города<br>-Уточнения и вопросы по поставленному диагнозу<br>-Консультации по лечению питомца от ведущих ветеринаров Москвы',
            content: [
              'Телефонная консультация',
              'Телефонная консультация <br> План питания',
              'Телефонная консультация <br> План питания <br>  Второе мнение',
            ],
          },
          {
            name: 'Количество прикрепленных к программе',
            content: [
              '1',
              '1',
              '1',
            ],
          },
          {
            name: 'Лимит обращений',
            content: [
              '12',
              '18',
              '24',
            ],
          },
          {
            name: 'Срок действия Сертификата',
            content: [
              '1 год',
              '1 год',
              '1 год',
            ],
          },
          {
            name: 'Стоимость Сертификата',
            content: [
              '10 000 ₽',
              '15 000 ₽',
              '20 000 ₽',
            ],
          },
        ],
        footnote: '*Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе «Азиатско-Тихоокеанского Банка» (АО).<br>Банк является агентом на основании Агентского договора. Услуги по сертификатам Юрист 24, Налогия и Мультисервис осуществляет компания ООО «Европейская Юридическая Служба».<br>Размер агентского вознаграждения по агентскому договору с компанией 80% от стоимости продукта, в т.ч. НДС 20%.',
      },
      {
        tabName: 'Юридическая <br> поддержка',
        tabMod: 'legal',
        tableMod: 'six-col',
        head: {
          name: 'Услуги',
          content: [
            'Лайт',
            'Старт',
            'Оптимум',
            'Максимум',
            'Премиум',
          ],
        },
        body: [
          {
            name: 'Бесплатные звонки из любой точки РФ',
            content: [
              'Включено',
              'Включено',
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Круглосуточная экстренная юридическая консультация (24/7) - устная консультация по всем юридическим вопросам в рамках законодательства РФ, кроме вопросов по предпринимательской деятельности',
            content: [
              '6 раз/год',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Круглосуточная устная юридическая консультация (24/7) по разъяснению документов',
            content: [
              '6 раз/год',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Круглосуточная устная юридическая консультация (24/7) по составлению документов',
            content: [
              '6 раз/год',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Личный кабинет – персональный раздел на сайте Компании или в мобильном приложении. В Личном кабинете размещены аудиозаписи устных консультаций, через Личный кабинет можно направить и получить письменные документы',
            content: [
              'Включено',
              'Включено',
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Предоставление по запросу форм документов/ типовых договоров, исков, доверенностей и прочих документов. Предоставляются по запросу Клиента через Личный кабинет',
            content: [
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Предоставление специалистом компании номеров служб экстренного реагирования (МЧС, Полиция, Скорая помощь) на территории РФ, а также помощь в вызове данных служб по запросу Клиента',
            content: [
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Письменная консультация по всем юридическим вопросам в рамках законодательства РФ, кроме вопросов по предпринимательской деятельности',
            content: [
              '1 раз/год',
              '2 раза/год',
              '4 раза/год',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Дети клиента - экстренные консультации по вопросам, требующим немедленного реагирования, могут получить все несовершеннолетние дети Клиента',
            content: [
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Юридическая помощь, информационная и правовая поддержка, предоставляемые Компанией одному из членов семьи Клиента (супруги, родители, дети старше 18 лет)',
            content: [
              'Включено',
              'Включено',
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Предоставление информации об органах государственной и муниципальной власти, их функциях и режиме работы. Рекомендации о порядке обращения и подачи жалоб и запросов',
            content: [
              'Включено',
              'Включено',
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Проверка на наличие возможного запрета на выезд Клиента за границу по причине имеющихся задолженностей',
            content: [
              '-',
              'Включено',
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Официальный звонок юриста от имени Клиента – звонок специалиста Компании от имени Клиента третьему лицу с целью представления интересов Клиента',
            content: [
              '1 раз/год',
              '2 раза/год',
              '3 раза/год',
              '4 раза/год',
              '6 раз/год',
            ],
          },
          {
            name: 'Информация об изменениях законодательства и предоставление актуальных нормативных актов по проблеме, интересующей Клиента',
            content: [
              '-',
              'Включено',
              'Включено',
              'Включено',
              'Включено',
            ],
          },
          {
            name: 'Оценка судебной перспективы дела',
            content: [
              '-',
              '1 раз/год',
              '2 раза/год',
              '3 раза/год',
              '4 раза/год',
            ],
          },
          {
            name: 'Составление документа от имени Клиента (договор, претензия, исковое заявление, жалоба и т. п.)',
            content: [
              '1 раз/год ',
              '2 раза/год ',
              '3 раза/год ',
              '4 раза/год ',
              'Безлимитно',
            ],
          },
          {
            name: 'Проверка юридической чистоты объекта недвижимости',
            content: [
              '-',
              '-',
              '-',
              '1 раз/год ',
              '2 раза/год ',
            ],
          },
          {
            name: 'Проверка собственника объекта недвижимости',
            content: [
              '-',
              '-',
              '-',
              '1 раз/год ',
              '2 раза/год ',
            ],
          },
          {
            name: 'Проверка корректности начисления налогов и пени, кадастровой стоимости недвижимости',
            content: [
              '1 раз/год ',
              '2 раза/год ',
              '3 раза/год ',
              '4 раза/год ',
              'Безлимитно',
            ],
          },
          {
            name: 'Устная консультация по оспариванию размера начисленных налогов и пени, размера кадастровой стоимости недвижимости и размера начисленного налога на имущество',
            content: [
              '6 раз/год',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Помощь и сопровождение при получении налоговых вычетов: социальных, инвестиционных, имущественных (консультации по пакету документов, заполнению 3-НДФЛ и заявления на вычет)',
            content: [
              '1 раз/год ',
              '3 раза/год ',
              '6 раз/год ',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Устная консультация по социальным льготам граждан',
            content: [
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Письменная консультация по социальным льготам граждан',
            content: [
              '1 раз/год',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Подбор экспертных компаний для проведения независимой экспертизы',
            content: [
              '1 раз/год ',
              '2 раза/год ',
              '4 раза/год ',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Подбор юридических компаний для представительства в суде',
            content: [
              '1 раз/год ',
              '2 раза/год ',
              '4 раза/год ',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Сопровождение банкротства ФЛ + устные консультации ФЛ о возможности начала процедуры банкротства; устные консультации по пакету документов для Арбитражного суда. Устное консультирование по второму этапу банкротства (реструктуризация долга/реализация имущества) и завершению банкротства',
            content: [
              '1 раз/год ',
              '3 раза/год ',
              'Безлимитно',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Представительство в суде во всех регионах',
            content: [
              '-',
              '-',
              '-',
              '1 заседание',
              '1 инстанция',
            ],
          },
          {
            name: 'Организация выезда нотариуса',
            content: [
              '1 раз/год',
              '2 раза/год',
              '4 раза/год',
              'Безлимитно',
              'Безлимитно',
            ],
          },
          {
            name: 'Выезд юриста/ адвоката для защиты интересов Клиента',
            content: [
              '-',
              '-',
              '-',
              '-',
              '1 раз/год',
            ],
          },
          {
            name: 'Скидка на дополнительные услуги',
            content: [
              '5%',
              '15%',
              '20%',
              '25%',
              '30%',
            ],
          },
          {
            name: 'Стоимость для Клиента, рублей',
            content: [
              '3 000 ₽',
              '6 000 ₽',
              '8 500 ₽',
              '15 000 ₽',
              '20 000 ₽',
            ],
          },
          {
            name: 'Срок действия',
            content: [
              '1 год с даты оплаты',
              '',
              '',
              '',
              '',
            ],
          },
        ],
        footnote: '*Узнать более подробные условия и приобрести данную услугу можно в ближайшем офисе «Азиатско-Тихоокеанского Банка» (АО).<br>Банк является агентом на основании Агентского договора. Услуги по сертификатам «Юридическая поддержка» осуществляет компания ООО «Юридические решения».<br>Размер агентского вознаграждения по агентскому договору с компанией 90% от стоимости продукта, в т.ч. НДС 20%.',
      },
    ]

  .multiservice-programms(class=allMods)&attributes(attributes)
    .multiservice-programms__tabs
      each item, index in multiserviceProgramms
        .multiservice-programms__tabs-item(class=`multiservice-programms__tabs-item--${item.tabMod}` class=index===0 ? 'active' : '')
          span !{item.tabName}
    .multiservice-programms__content
      each item, index in multiserviceProgramms
        .multiservice-programms__content-box(class=index===0 ? 'active' : '')
          .multiservice-programms__table(class=item.tableMod ? `multiservice-programms__table--${item.tableMod}` : '')
            .multiservice-programms__table-head
              .multiservice-programms__table-th_name
                span !{item.head.name}
              .multiservice-programms__table-th-content
                each td in item.head.content
                  .multiservice-programms__table-th-content-item
                    span !{td}
            .multiservice-programms__table-body
              each tr in item.body
                .multiservice-programms__table-tr
                  .multiservice-programms__table-td_name !{tr.name}
                  .multiservice-programms__table-td_content
                    each td in tr.content
                      .multiservice-programms__table-td_content-item
                        span !{td}
            .multiservice-programms__table-shadow.bvi-hide
              each col in item.head.content
                .multiservice-programms__table-shadow-item
          .multiservice-programms__footnote !{item.footnote}
    .multiservice-programms__docs-container
      .multiservice-programms__docs-wrapper
        .multiservice-programms__docs-item
          a(href='upload/Юрист24.pdf' target='_blank')
            .multiservice-programms__docs-item-icon
            .multiservice-programms__docs-item-txt Юрист 24
        .multiservice-programms__docs-item
          a(href='upload/Налогия.pdf' target='_blank')
            .multiservice-programms__docs-item-icon
            .multiservice-programms__docs-item-txt Налогия
        .multiservice-programms__docs-item
          a(href='upload/Мультисервис.pdf' target='_blank')
            .multiservice-programms__docs-item-icon
            .multiservice-programms__docs-item-txt Мультисервис
        .multiservice-programms__docs-item
          a(href='upload/ЮридическаяПоддержка.pdf')
            .multiservice-programms__docs-item-icon
            .multiservice-programms__docs-item-txt Юридическая поддержка
    block
