mixin precious-metals-investment(mods)
  -
    const baseName = 'precious-metals-investment'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const preciousMetalsInvestment =[
      {
        class: 'grey',
        topName: 'Банковский счет в драгоценных металлах',
        topTxt: 'Аналог рублёвого счета, где валютой являются обезличенные драгоценные металлы в граммах — золото, серебро, платина или палладий',
        botTitle: 'Металл хранится на с чете не в физической форме, нет необходимости переживать за его сохранность',
      },
      {
        class: 'gold',
        topName: 'Cлитки драгоценных металлов',
        topTxt: 'Слитки драгоценных металлов массой от 1 до 1 000 граммов, изготовленных российскими аффинажными заводами в соответствии с российскими и международными стандартами качества',
        botTitle: 'Физическое наличие драгметалла',
        botDescr: 'Этот вариант хорошо подходит для долгосрочного инвестирования, если есть надежное место для хранения слитков',
      },
    ]

  .precious-metals-investment(class=allMods)&attributes(attributes)
    each item, index in preciousMetalsInvestment
      .precious-metals-investment__box(class=`precious-metals-investment__box--${item.class}`)
        .precious-metals-investment__top
          h3.precious-metals-investment__name=item.topName
          .precious-metals-investment__txt=item.topTxt
        .precious-metals-investment__bot
          .precious-metals-investment__advantages Преимущества
          .precious-metals-investment__bot-txt=item.botTitle
          if item.botDescr
            .precious-metals-investment__txt=item.botDescr
        .precious-metals-investment__img
          img(src=`img/investment_${index+1}.png` alt='')

    block
