mixin currency(mods)
  -
    const baseName = 'currency'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    let currencyTable1 = {
      head: [
        { txt: 'валюта' },
        { txt: 'покупка' },
        { txt: 'продажа' },
        { txt: 'ЦБ РФ' },
        { txt: 'изменение' },
      ],
      main: [
        {
          nameTr: 'USD',
          label: 'за 1$',
          td: [
            { txt: '63.28', classTd: 'up' },
            { txt: '63.28', classTd: 'up' },
            { txt: '<b>63.28</b>', },
            { txt: '<b>-0.0628</b>', },
          ]
        },
        {
          nameTr: 'EUR',
          label: 'за 1€',
          td: [
            { txt: '63.28', classTd: 'up' },
            { txt: '63.28', classTd: 'up' },
            { txt: '<b>63.28</b>', },
            { txt: '<b>-0.0628</b>', },
          ]
        },
        {
          nameTr: 'CNY',
          label: 'за 1¥',
          td: [
            { txt: '8.28', classTd: 'up' },
            { txt: '9.28', classTd: 'down' },
            { txt: '<b>63.28</b>', },
            { txt: '<b>0.0628</b>', },
          ]
        },
      ]
    }

    let currencyTable2 = {
      head: [
        { txt: 'валюта' },
        { txt: 'ЦБ РФ' },
        { txt: 'изменение' },
      ],
      main: [
        {
          nameTr: 'USD',
          label: 'за 1$',
          td: [
            { txt: '63.28', },
            { txt: '-0.0628', },
          ]
        },
        {
          nameTr: 'CNY',
          label: 'за 1¥',
          td: [
            { txt: '63.28', },
            { txt: '0.0628', },
          ]
        },
      ]
    }

    let currencyTableMetals = {
      head: [
        { txt: 'валюта' },
        { txt: 'покупка' },
        { txt: 'продажа' },
      ],
      main: [
        {
          nameTr: 'золото',
          td: [
            { txt: '3283.28', classTd: 'down' },
            { txt: '3385.28', classTd: 'up' },
          ]
        },
        {
          nameTr: 'серебро',
          td: [
            { txt: '3283.28', classTd: 'down' },
            { txt: '3283.28', classTd: 'up' },
          ]
        },
        {
          nameTr: 'платина',
          td: [
            { txt: 'индивидуально' },
            { txt: '' },
          ]
        },
        {
          nameTr: 'палладий',
          td: [
            { txt: 'индивидуально' },
            { txt: '' },
          ]
        },
      ]
    }

  .currency(class=allMods)&attributes(attributes)
    .currency-main
      +switch('', 'Курсы валют', 'драгметаллы', 'currency', 'currency')
      +switch-group('currency')
        +switch-content(true)
          +ui-select('currency')
            option(value='currencyTab1') в отделениях АТБ
            option(value='currencyTab2') для платежных карт АТБ
            option(value='currencyTab3') курс ЦБ РФ
          .currency-tabs
            #currencyTab1.currency-tabs__item.currency-tabs__item--active
              +currency-table(currencyTable1)
            #currencyTab2.currency-tabs__item
              +currency-table(currencyTable1)
            #currencyTab3.currency-tabs__item
              +currency-table(currencyTable2)
        +switch-content()
          +currency-table(currencyTableMetals, '--metals')
    .currency-foot  Актуально на 14:45, 15 марта 2022 г.  <br>Внимание! Курсы валют могут меняться в течение дня в зависимости от ситуации на валютном рынке
    block

mixin currency-table(currencyTable, mods)
  -
    const baseName = 'currency-table'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    let trAccentClass = ''
    if (page === 'exchange' && !mods) {
      trAccentClass = 'currency-table__tr--accent'
    }

  .currency-table(class=allMods)&attributes(attributes)
    .currency-table__tr
      each itemTh in currencyTable.head
        .currency-table__td.currency-table__td--td-name=itemTh.txt
    each itemTr, indexTr in currencyTable.main
      .currency-table__tr(class = indexTr===0 ? trAccentClass : '')
        .currency-table__td.currency-table__td--tr-name !{itemTr.nameTr}
          if itemTr.label
            span.currency-table__label !{itemTr.label}
        each itemTd, indexTd in itemTr.td
          .currency-table__td
            if itemTd.classTd === 'down'
              span.currency-table__arrow-down=itemTd.txt
            else if itemTd.classTd === 'up'
              span.currency-table__arrow-up=itemTd.txt
            else
              | !{itemTd.txt}
