mixin multiservice-programm-tabs(mods)
  -
    const baseName = 'multiservice-programm-tabs'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const ProgramTabsData = {
      head: [
        {
          txt: 'Юрист 24',
          mod: 'jurist'
        },
        {
          txt: 'Налогия',
          mod: 'tax'
        },
        {
          txt: 'Мультисервис',
          mod: 'multiservice'
        },
        {
          txt: 'Юридическая поддержка',
          mod: 'legal'
        },
      ],
      content: [
        {
          topDesk: 'Сервис по оказанию юридических услуг, актуальных для любой категории граждан<br>по всем отраслям российского права 24/7',
          list: [
            {
              title: 'Семья и наследство:',
              listContent: [
                { text: 'Заключение/расторжение брака/брачные контракты' },
                { text: 'Опека, попечительство, усыновление, лишение родительских прав' },
                { text: 'Алиментные обязательства' },
                { text: 'Оспаривание наследства, наследование по закону/завещанию' },
              ]
            },
            {
              title: 'Социальная тематика:',
              listContent: [
                { text: 'Получение жилья и земли по спец. программам' },
                { text: 'Все виды льгот физическим лицам' },
                { text: 'Материнский капитал' },
                { text: 'Здравоохранение' },
              ]
            },
            {
              title: 'Защита прав потребителей:',
              listContent: [
                { text: 'Простой и быстрый возврат некачественного товара или услуг' },
                { text: 'Оспаривание результатов экспертизы' },
                { text: 'Случайная порча имущества в магазине' },
                { text: 'Переговоры с контрагентами' },
              ]
            },
            {
              title: 'Автотематика:',
              listContent: [
                { text: 'ПДД и ответственность за их нарушение' },
                { text: 'Порядок действий и переговоры при ДТП' },
                { text: 'Квалификация правонарушений' },
                { text: 'ОСАГО, КАСКО, споры по страховке' },
              ]
            },
            {
              title: 'Жилищное право:',
              listContent: [
                { text: 'Коммунальные услуги (поручение по перерасчету, проверке начислений)' },
                { text: 'Управление многоквартирным домом (ТСЖ, УК)' },
                { text: 'Коммунальные вопросы (залив, кап. ремонт и т.д.)' },
                { text: 'Перепланировка и переустройство' },
              ]
            },
            {
              title: 'Недвижимость:',
              listContent: [
                { text: 'Сделки с недвижимостью (купля-продажа, дарение), ипотека' },
                { text: 'Строительство зданий и сооружений' },
                { text: 'Участие в долевом строительстве' },
                { text: 'Регистрация прав на недвижимость и сделки с ней' },
              ]
            },
          ]
        },
        {
          topDesk: 'Сервис по подготовке и подаче налоговых деклараций, документов для получения налогового вычета c&nbsp;профессиональной дистанционной поддержкой по вопросам налогового права  24/7',
          list: [
            {
              listContent: [
                { text: 'Клиент заполняет форму 3-НДФЛ (налоговую декларацию) впервые или это вызывает у него трудности' },
                { text: 'Клиент хочет получить налоговый вычет, но не уверен, что имеет на него право и не знает, какие подтверждающие документы нужно предоставить для получение вычета' },
                { text: 'Клиент не может самостоятельно заполнить заявление на получение вычета или другое заявление в налоговую инспекцию' },
              ]
            },
            {
              listContent: [
                { text: 'Налоговая инспекция отказала Клиенту в получении вычета или выдвинула необоснованные требования' },
                { text: 'Клиент имеет право на получение налоговых вычетов по нескольким статьям расходов и не знает, как лучше распорядится этим правом при заполнении декларации 3-НДФЛ' },
              ]
            },
          ]
        },
        {
          topDesk: 'Единый сервис для решения любых жизненных вопросов: финансовых, юридических, медицинских и бытовых',
          list: [
            {
              title: 'Сервис для дома:',
              listContent: [
                { text: 'Помощь в случаях поломки бытовой техники, аварии инженерных систем, потеря ключей, мелкий бытовой ремонт и т.д.' },
              ]
            },
            {
              title: 'Теледоктор:',
              listContent: [
                { text: 'Онлайн-консультации врачей, медориентирование, второе мнение, защита прав пациента' },
              ]
            },
            {
              title: 'Уход за животными:',
              listContent: [
                { text: 'Консультации ветеринара по лечению и уходу за животными' },
              ]
            },
            {
              title: 'Юридическая помощь:',
              listContent: [
                { text: 'Круглосуточные юридические консультации по всем отраслям права' },
              ]
            },
            {
              title: 'Финансовый помощник:',
              listContent: [
                { text: 'Консультации по вопросам инвестирования, кредитования, сбережения, страхования' },
              ]
            },
          ]
        },
        {
          topDesk: '«Юридическая поддержка» – это правовое сопровождение 24 часа в сутки от телефонной или письменной консультации до составления любых правовых документов.',
          list: [
            {
              title: 'Больше экспертизы',
              listContent: [
                { text: 'Консультации по всем отраслям права' },
              ]
            },
            {
              title: 'Быстрое решение вопросов',
              listContent: [
                { text: 'Решение самых сложных правовых вопросов за 48 часов' },
              ]
            },
            {
              title: 'Единая точка входа',
              listContent: [
                { text: 'Обращение по любым правовым вопросам' },
                { text: 'Не потребуется тратить время на дополнительный поиск нужного специалиста' },
              ]
            },
            {
              title: 'Гарантия качества юридических решений',
              listContent: [
                { text: 'Внутренний юридический аудит, страхование профессиональной ответственности' },
              ]
            },
            {
              title: 'Широкое наполнение',
            },
          ]
        },
      ]
    }

  .multiservice-programm-tabs(class=allMods)&attributes(attributes)
    .multiservice-programm-tabs__head
      each tab, index in ProgramTabsData.head
        .multiservice-programm-tabs__head-item(class=`multiservice-programm-tabs__head-item--${tab.mod}` class=index===0 ? 'active' : '')
          span !{tab.txt}
    .multiservice-programm-tabs__main
      each box, index in ProgramTabsData.content
        .multiservice-programm-tabs__main-box(class=index===0 ? 'active' : '')
          .multiservice-programm-tabs__main-box-btn(class=`multiservice-programm-tabs__main-box-btn--${ProgramTabsData.head[index].mod}`)
            span !{ProgramTabsData.head[index].txt}
          .multiservice-programm-tabs__main-box-content
            .multiservice-programm-tabs__main-box-content-row !{box.topDesk}
            .multiservice-programm-tabs__main-box-content-row
              each item in box.list
                .multiservice-programm-tabs__ul-box
                  if item.title
                    .multiservice-programm-tabs__ul-box-title !{item.title}
                  if item.listContent
                    +ui-p1('', '--light')
                      +ui-ul(item.listContent)
    block
