extends ../../layouts/layout

block styles
  link(rel='stylesheet' href='../../styles/style.min.css')
  link(rel='stylesheet' href=fileName + '.min.css')

block scripts
  script(src='../../js/index.js')
  script(src=fileName + '.js')

block variables
  -
    const fileName = 'installment'
    const pageTitle ='АТБ Рассрочка'

    const bannerBenefits = [
      {
        top: '0%',
        bottom: 'взнос'
      },
      {
        top: '0%',
        bottom: 'переплата'
      },
      {
        top: '4',
        bottom: 'месяца'
      },
    ]

    const featuresItems =[
       { icon: 'img/feature_1.svg', title: 'Выплаты 4 равными частями за&nbsp;4 месяца' },
       { icon: 'img/feature_2.svg', title: '0% первоначальный взнос и&nbsp;0% переплат' },
       { icon: 'img/feature_3.svg', title: 'Возобновляемая сумма лимита до&nbsp;45&nbsp;тыс.&nbsp;руб.' },
    ]

block content
  main
    +banner
      +banner-item('--installment')
        +banner-wrapper('img/banner_installment.jpg')
          .banner-logo
              .banner-logo-atb
                +icon('installment--logo_atb')
              .banner-logo-txt
                +icon('installment--logo_text')
          .banner-benefits.banner-item-dn
            each item in bannerBenefits
              .banner-benefits-item
                .banner-benefits-top !{item.top}
                .banner-benefits-bot !{item.bottom}
          .banner-item-foot.banner-item-foot--mob-stretch
            .banner-item-foot-item
              +banner-descr('Сервис приостановлен', '--info, --size-xs').text-orange
        +banner-mobile
          .banner-benefits
            each item in bannerBenefits
              .banner-benefits-item
                .banner-benefits-top !{item.top}
                .banner-benefits-bot !{item.bottom}
    .page-content
      +section('--mt0')
        .inner
          +installment-notice
      +section
        .inner
          +features(featuresItems, '--3items')
      +section
        .inner
          +section-head
            +ui-h2('Как это работает?', 'section-head')
          +installment-info
      +section
        .inner
          +section-head
            +ui-h2('Условия предоставления АТБ Рассрочки', 'section-head')
            +accordion
              +accordion-item('Требования к заемщику')
                +ui-p1('', '--light')
                  <p> 1. Возраст клиента от 18 до 75 лет. <br> 2. Гражданство РФ. <br> 3. Наличие мобильного телефона. <br> 4. Заёмщик имеет официальное место работы (либо является индивидуальным предпринимателем) и постоянный источник дохода. </p>
              +accordion-item('Условия')
                +documents
              +accordion-item('Документы')
                +ui-p1('Паспорт гражданина РФ', '--light')
      +section
        .inner
          +section-head
            +ui-h2('Вопросы и ответы', 'section-head')
            +accordion
              +accordion-item('Что такое АТБ Рассрочка?')
                +ui-p1('', '--light')
                  p Программа АТБ Рассрочка&nbsp;до [дата публикации] позволяла покупать товары в&nbsp;магазинах-партнеров без переплаты. Сумма всех ваших покупок делится на&nbsp;4&nbsp;равные части для удобства погашения. В&nbsp;итоге вы&nbsp;оплачиваете только сумму покупки, если соблюдаете условия договора.
              +accordion-item('АТБ Рассрочка — это карта? Кредитная или дебетовая?')
                +ui-p1('', '--light')
                  p В случае положительного решения Вам выпускается цифровая дебетовая карта и открывается текущий счет, на который устанавливается Лимит кредитования. При этом пользоваться им можно только с помощью мобильного приложения путем сканирования QR-кода на кассе магазина-партнера.
              +accordion-item('Какая процентная ставка по АТБ Рассрочке?')
                +ui-p1('', '--light')
                  p За пользование рассрочкой процентная ставка не предусмотрена, при погашении всей суммы рассрочки в течение льготного периода.
              +accordion-item('На чем зарабатывает Банк, если мне не нужно платить никаких процентов')
                +ui-p1('', '--light')
                  p Схема заработка Банка прозрачная и простая: вы рассчитываетесь АТБ Рассрочкой в магазине — магазин выплачивает Банку комиссию за каждую покупку. Клиенты возвращают Банку ровно ту сумму, которую заплатили. Эта схема выгодна для всех: магазины получают клиентов, вы получаете беспроцентную рассрочку, Банк получает комиссию от магазина.
              +accordion-item('А срок рассрочки может быть больше или меньше 4 месяцев?')
                +ui-p1('', '--light')
                  p Для всех наших магазинов-партнеров это 4 месяца на каждую вашу покупку в пределах установленного лимита рассрочки.
              +accordion-item('Что будет, если просрочить ежемесячный платеж?')
                +ui-p1('', '--light')
                  p Если платёж не внесён вовремя, взимается плата 300 рублей за каждый просроченный платеж.
              +accordion-item('Как получить справки и выписки?')
                +ui-p1('', '--light')
                  p Информация по операциям в рассрочку будет в полном объеме отражаться в мобильном приложении. Если вам потребуется печатная выписка, то необходимо будет обратиться в любой ближайший офис Банка.
              +accordion-item('Есть ли предустановленные по умолчанию платные услуги?')
                +ui-p1('', '--light')
                  p Нет. Все дополнительные услуги подключаются и/или используются добровольно и не являются обязательными.
              +accordion-item('Есть ли уведомления об операциях по карте? Сколько это стоит?')
                +ui-p1('', '--light')
                  p По всем расходным операциям по карте приходят уведомления (Push или СМС). Эти уведомления бесплатные.
              +accordion-item('Зачем мне выпускается цифровая карта?')
                +ui-p1('', '--light')
                  p Да, при открытии лимита АТБ Рассрочки вам обязательно открывается цифровая карта и текущий счет. Они вам необходимы для удобства пополнения и погашения суммы задолженности. Для покупок в рассрочку карта и счет вам не понадобятся, достаточно будет считать QR-код на кассе магазина-партнера.
              +accordion-item('Можно ли цифровой картой платить как обычной картой?')
                +ui-p1('', '--light')
                  p На текущий момент нет. Когда функционал цифровой карты в составе договора АТБ Рассрочка будет расширен, мы обязательно вас об этом расскажем.
              +accordion-item('Где я могу найти реквизиты моей цифровой карты и счета?')
                p В мобильном приложении.
              +accordion-item('Как я могу пополнить свой счет, чтобы вносить платежи?')
                +ui-p1('', '--light')
                  p Чтобы не было просрочек, вам необходимо пополнять счет для погашения ежемесячного платежа не позднее 15 числа каждого месяца. Это можно сделать внутри нашего мобильного приложения переводом с другой карты, либо вы можете воспользоваться переводами СБП или по реквизитам счета с другого банка.
