mixin calendar(mods)
  -
    const baseName = 'calendar'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const daysOfWeek = [
      'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'
    ]

  .calendar(class=allMods)&attributes(attributes)
    .calendar__wrapper
      .calendar__item
        .calendar__month Декабрь 2023
        .calendar__inner
          each item in daysOfWeek
            .calendar__cell
              span=item
          .calendar__text.calendar__text--start Начало акции
          .calendar__cell.calendar__cell--blue.calendar__cell--select.calendar__cell--select-blue.calendar__cell--start
            span 1
          .calendar__cell.calendar__cell--blue
            span 2
          .calendar__cell.calendar__cell--blue.calendar__cell--end
            span 3
          -for(let i = 4; i <= 31; i++)
            case i
              when 4
              when 11
              when 18
              when 25
                .calendar__cell.calendar__cell--blue.calendar__cell--start
                  span=i
              when 10
              when 17
              when 24
              when 31
                .calendar__cell.calendar__cell--blue.calendar__cell--end
                  span=i
              default
                .calendar__cell.calendar__cell--blue
                  span=i
      .calendar__item
        .calendar__month Январь 2024
        .calendar__inner
          each item in daysOfWeek
            .calendar__cell
              span=item
          -for(let i = 1; i <= 31; i++)
            case i
              when 1
              when 8
              when 15
              when 22
              when 29
                .calendar__cell.calendar__cell--orange.calendar__cell--start
                  span=i
              when 7
              when 14
              when 21
              when 28
                .calendar__cell.calendar__cell--orange.calendar__cell--end
                  span=i
              when 17
                .calendar__cell.calendar__cell--orange.calendar__cell--select.calendar__cell--select-orange-gradient
                  span=i
              when 31
                .calendar__cell.calendar__cell--orange.calendar__cell--select.calendar__cell--select-orange.calendar__cell--end
                  span=i
              default
                .calendar__cell.calendar__cell--orange
                  span=i
          .calendar__text.calendar__text--end Окончание акции
      .calendar__item
        .calendar__month Февраль 2024
        .calendar__inner
          each item in daysOfWeek
            .calendar__cell
              span=item
          -for(let i = 28; i <= 30; i++)
            .calendar__cell
              span
          -for(let i = 1; i <= 29; i++)
            case i
              when 14
                .calendar__cell.calendar__cell--select.calendar__cell--select-orange-gradient
                  span=i
              default
                .calendar__cell
                  span=i

    block
