mixin calendar(mods)
  -
    const baseName = 'calendar'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .calendar(class=allMods)&attributes(attributes)
    block

mixin calendar-item(data, mods)
  -
    const baseName = 'calendar-item'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
    const days = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
    const day = 0

  .calendar-item(class=allMods)&attributes(attributes)
    .calendar__date.text-center !{data.date}
    .calendar__wrapper
      .calendar__head
        each strDay in days
          .calendar__head-day !{strDay}
      .calendar__body
        while day < data.endDay
        day++
          .calendar__head-day !{day}
    block

mixin calendar-wrapper(mods)
  -
    const baseName = 'calendar-wrapper'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .calendar-wrapper(class=allMods)&attributes(attributes)
    block