mixin get-mortgage(mods)
  -
    const baseName = 'get-mortgage'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const howGetTabs=[
      'Первый шаг – сбор информации',
      'Шаг второй – выбор программы кредитования и подача заявки',
      'Шаг третий – выбрать объект недвижимости',
      'Шаг четвертый – оформление кредита',
      'Шаг пятый – регистрация ипотечной сделки',
    ]

  .get-mortgage(class=allMods)&attributes(attributes)
    .inner
      .get-mortgage__tabs
        each tab, index in howGetTabs
          .get-mortgage__tab(class=index==0 ? 'get-mortgage__tab--active' : '')
            .get-mortgage__tab-inner
              .get-mortgage__num=index+1
              .get-mortgage__name=tab
    .get-mortgage__main
      .inner
        .get-mortgage__item
          .get-mortgage__img
            img(src='img/get-mortgage_hero.png', alt='')
          .get-mortgage__info
            .get-mortgage__top=howGetTabs[0]
            .get-mortgage__txt На первом этапе вам важно понять, какую недвижимость вы хотите, и какими средствами располагаете для первоначального взноса. Так вы определите, сколько денег вам нужно взять в кредит. Важный момент – это здраво оценить ваши возможности по возврату кредита, решить, какую сумму вы сможете отдавать каждый месяц за ипотеку (соотношение ежемесячного платежа и вашего дохода должно быть таким, чтобы вы могли по-прежнему обеспечить себя всем необходимым)
        .get-mortgage__item
          .get-mortgage__img
            img(src='img/get-mortgage_hero.png', alt='')
          .get-mortgage__info
            .get-mortgage__top=howGetTabs[1]
            .get-mortgage__txt
              b При выборе программы кредитования ориентируйтесь на:
            +ui-ul([{ text: 'Условия кредита (процентная ставка, срок кредита, и др.).'}, { text: 'Требования к заемщикам (в зависимости от выбранной программы можно получить кредит по одному документу или подтвердить доход справкой 2-НДФЛ и т.д.).' }], 'get-mortgage')
            .get-mortgage__footnote Подаете заявку на ипотечный кредит, предоставляя необходимый пакет документов. На этом этапе банк оценивает вашу платежеспособность и выносит решение, готов ли он выдать вам кредит.
        .get-mortgage__item
          .get-mortgage__img
            img(src='img/get-mortgage_hero.png', alt='')
          .get-mortgage__info
            .get-mortgage__top=howGetTabs[2]
            .get-mortgage__txt После получения одобрения банка вам необходимо выбрать объект недвижимости, который будет соответствовать определенным требованиям, установленным банком. По нему также необходимо будет предоставить пакет документов. Банку важно убедиться, что недвижимость не находится в аварийном состоянии, не имеет незаконных перепланировок, ценится на рынке, и что ее можно будет легко продать, в том случае, если вы не сможете вернуть кредит, а также иные требования.
        .get-mortgage__item
          .get-mortgage__img
            img(src='img/get-mortgage_hero.png', alt='')
          .get-mortgage__info
            .get-mortgage__top=howGetTabs[3]
            .get-mortgage__txt Получив положительное решение по недвижимости, Банк начинает подготовку к ипотечной сделке. Помните о том, что на сделке Вы будете подписывать кредитную документацию, а именно кредитный договор, закладную, договор залога и др., а также договор страхования и договор приобретения недвижимости.
            .get-mortgage__txt В кредитной документации обязательно прописываются обязанности должника и кредитора, сумма кредита, срок и порядок возврата кредита, процентная ставка, а также расписывается график платежей.
        .get-mortgage__item
          .get-mortgage__img
            img(src='img/get-mortgage_hero.png', alt='')
          .get-mortgage__info
            .get-mortgage__top=howGetTabs[4]
            .get-mortgage__txt Комплект документов подписанный на сделке, включающий договор приобретения недвижимости, вместе с кредитной документацией
              =' '
              b нужно обязательно зарегистрировать в Едином государственном реестре прав на недвижимое имущество и сделок с ними.
              |  Данное государственное учреждение осуществит регистрацию перехода прав собственности от продавца на Вас, а также зарегистрирует ипотеку в пользу банка.
            .get-mortgage__txt После регистрации перехода права собственности продавец получает доступ к причитающимся ему средствам, а вы становитесь владельцем недвижимости приобретенной на кредитные средства. Теперь ваша обязанность – вернуть банку кредит в срок, установленный договором, а также уплатить проценты за пользование кредитом.
    block
