
mixin tabs-head(tabsHeadItems, innerBlock, mods)
  -
    const baseName = 'tabs-head'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .tabs-head(class=allMods)&attributes(attributes)
    if innerBlock === true
      .swiper
        .swiper-wrapper
          each item, index in tabsHeadItems
            if item.isAttention
              .swiper-slide.tabs-head__item.tabs-head__item--attention(class = index===0 ? 'tabs-head__item--active' : '' id=item.id data-group-item=item.groupItem onclick=item.onclick) !{item.text}
            else if item.isLink
              a.swiper-slide.tabs-head__item(href='#' target='_blank' id=item.id data-group-item=item.groupItem onclick=item.onclick) !{item.text}
            else
              if item.isRadio
                label.swiper-slide.tabs-head__item.tabs-head__item--radio(class = index===0 ? 'tabs-head__item--active' : '' id=item.id data-group-item=item.groupItem onclick=item.onclick) !{item.text}
                  if item.isChecked
                    input.tabs-head__radio(id=item.radioId name=item.radioName type='radio' checked)
                  else
                    input.tabs-head__radio(id=item.radioId name=item.radioName type='radio')
              else
                .swiper-slide.tabs-head__item(class = index===0 ? 'tabs-head__item--active' : '' id=item.id data-group-item=item.groupItem onclick=item.onclick) !{item.text}
    else
      .inner
        .swiper
          .swiper-wrapper
            each item, index in tabsHeadItems
              if item.isAttention
                .swiper-slide.tabs-head__item.tabs-head__item--attention(class = index===0 ? 'tabs-head__item--active' : '' id=item.id onclick=item.onclick) !{item.text}
              else if item.isLink
                a.swiper-slide.tabs-head__item(href='#' target='_blank' id=item.id onclick=item.onclick) !{item.text}
              else
                .swiper-slide.tabs-head__item(class = index===0 ? 'tabs-head__item--active' : '' id=item.id onclick=item.onclick) !{item.text}
    block

mixin tabs-main(mods)
  -
    const baseName = 'tabs-main'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .tabs-main(class=allMods)&attributes(attributes)
    block

mixin tabs-main__item(isActive, mods)
  -
    const baseName = 'tabs-main__item'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .tabs-main__item(class=allMods + ' ' + (isActive ? 'tabs-main__item--active' : ''))&attributes(attributes)
    block
