-
  let headerMenu ={
    top: [
      {
        name: 'Физическим лицам',
        link: '#'
      },
      {
        name: 'Бизнесу',
        link: '/business/'
      },
      {
        name: 'Премиальное обслуживание',
        link: '/status/'
      },
      {
        name: 'Финансовым организациям',
        link: '/for-financial-organizations/'
      },
      {
        name: 'Инвестиционные услуги',
        link: 'https://invest.atb.su'
      },
      {
        name: 'О банке',
        link: '/o-banke/'
      },
    ],
    burger: [
      {
        head: {
          name: 'Карты',
          link: '/cards/'
        },
        menu: [
          {
            name: 'Дебетовые карты',
            link: '/cards/debit/'
          },
          {
            name: 'Кредитные карты',
            link: '/cards/credit/'
          },
          {
            name: 'Платежные системы',
            link: '/cards/payment-system/'
          },
          {
            name: 'Кошелёк Pay',
            link: '/cards/koshelyek-pay-atb/'
          },
          {
            name: 'Samsung Pay',
            link: '/cards/samsung-pay/'
          },
          {
            name: 'Apple Pay',
            link: '/cards/apple-pay/'
          },
          {
            name: 'Google Pay',
            link: '/cards/android-pay/'
          },
          {
            name: 'Garmin Pay',
            link: '/cards/garmin-pay/'
          },
          {
            name: 'Mir Pay',
            link: '/cards/mir-pay/'
          },
        ],
        button: {
          txt: 'Получить карту',
          link: '/cards/credit/'
        }
      },
      {
        head: {
          name: 'Кредиты',
          link: '/kredit/'
        },
        sectionPageMobile: {
          name: 'Все потребительские кредиты',
          link: '/kredit/'
        },
        menu: [
          {
            isChildOnMobile: true,
            name: 'Кредит наличными',
            link: '/kredit/aktsionny/'
          },
          {
            name: 'Полезное'
          },
          {
            name: 'Способы оплаты кредита',
            link: '/kredit/sposoby-oplaty/'
          },
          {
            name: 'Акция «Приведи друга»',
            link: '/stock/refer-a-friend/'
          },
          {
            name: 'Способы подтверждения доходов',
            link: '/kredit/sposoby-predostavleniya-dohodov/'
          },
          {
            name: 'Узнайте свой кредитный рейтинг',
            link: 'https://www.atb.su/lp/credit_history/'
          },
          {
            name: 'Реструктуризация кредитов',
            link: '/rest/'
          },
        ]
      },
      {
        head: {
          name: 'Ипотека',
          link: '/kredit/ipoteka/'
        },
        sectionPageMobile: {
          name: 'Все ипотечные программы',
          link: '/kredit/ipoteka/'
        },
        menu: [
          {
            name: 'Готовое жилье',
            link: '/kredit/ipoteka/kalkulyator/gotovoe-zhile/'
          },
          {
            name: 'Дальневосточная ипотека',
            link: '/kredit/ipoteka/kalkulyator/vremya-zanyat-svoyu-territoriyu/'
          },
          {
            name: 'Приобретение квартиры на этапе строительства',
            link: '/kredit/ipoteka/kalkulyator/kvartira-na-ehtape-stroitelstva/'
          },
          {
            name: 'Рефинансирование',
            link: '/kredit/ipoteka/kalkulyator/perekreditovanie/'
          },
          {
            name: 'Ипотека с гос.поддержкой',
            link: '/kredit/ipoteka/kalkulyator/ipoteka-s-gos-podderzhkoy/'
          },
        ]
      },
      {
        head: {
          name: 'Вклады и счета',
          link: '/vklady-i-scheta/'
        },
        sectionPageMobile: {
          name: 'Все вклады',
          link: '/vklady-i-scheta/'
        },
        menu: [
          {
            name: 'Вклад «АТБ. Вклад»',
            link: '/vklady-i-scheta/atb-vklad/'
          },
          {
            name: 'Вклад «Добро пожаловать»',
            link: '/vklady-i-scheta/dobro-pozhalovat/'
          },
          {
            name: '«Накопительный счет Супер Копилка»',
            link: '/more-money/bank-deposits/savings-accounts/'
          },
          {
            name: 'Вклад «Сохрани+»',
            link: '/vklady-i-scheta/sokhrani/'
          },
          {
            name: 'Вклад «Управляй»',
            link: '/vklady-i-scheta/upravlyay/'
          },
          {
            name: 'Счета'
          },
          {
            name: 'Счета эскроу',
            link: '/vklady-i-scheta/eskrou/'
          },
          {
            name: 'Обезличенные металлические счета',
            link: '/vklady-i-scheta/metallicheskiy/'
          },
          {
            name: 'Полезное'
          },
          {
            name: 'Как использовать банковскую ячейку',
            link: '/services/rent-of-safe-box/how-to-use-cell/'
          },
          {
            name: 'Пополнить счет вклада',
            link: '/more-money/recharge/'
          },
        ]
      },
      {
        head: {
          name: 'Платежи и переводы'
        },
        menu: [
          {
            name: 'Переводы с карты на карту',
            link: 'https://my.atb.su/c2c-transfer/'
          },
          {
            name: 'Переводы наличными',
            link: '/services/transfer/'
          },
          {
            name: 'Валютно-обменные операции',
            link: '/services/exchange/'
          },
          {
            name: 'Переводы СБП',
            link: '/services/sbp/'
          },
        ]
      },
      {
        isLastOnModile: true,
        head: {
          name: 'О банке',
          link: '/o-banke/'
        },
        menu: [
          {
            name: 'Налогообложение иностранных счетов (FATCA)',
            link: '/compliance/fatca/'
          },
          {
            name: 'Руководство',
            link: '/o-banke/management-team/'
          },
          {
            name: 'Раскрытие информации',
            link: '/disclosure/charter-and-other-documents/'
          },
          {
            name: 'Акционерам и инвесторам',
            link: '/o-banke/shareholders-and-investors/'
          },
          {
            name: 'Инсайдерам',
            link: '/insider/'
          },
          {
            name: 'Тендеры',
            link: '/tenders/'
          },
          {
            name: 'Лицензии',
            link: '/o-banke/license/'
          },
          {
            name: 'Документы и тарифы',
            link: '/general-information/tariff-book/'
          },
          {
            name: 'Вакансии',
            link: '/jobs/'
          },
          {
            name: 'Отделения и банкоматы',
            link: '/atms/'
          },
          {
            name: 'Годовой отчет',
            link: '/upload/iblock/233/233ad70af1a3671a26b919c41e904b81.pdf'
          },
          {
            name: 'Страхование вкладов',
            link: '/about-strahovanii-deposits/'
          },
          {
            name: 'Извещения о сделках с заинтересованностью',
            link: '/closed_page/'
          },
          {
            name: 'Наша рассылка',
            link: '/subscribe-to-the-newsletter/'
          },
          {
            name: 'Пресс-центр',
            link: '/o-banke/press-tsentr/'
          },
        ]
      },
      {
        head: {
          name: 'Страхование',
          link: '/insurance/'
        },
        menu: [
          {
            name: 'Комплексное страхование',
            link: '/insurance/multipoles/'
          },
          {
            name: 'Страхование имущества',
            link: '/insurance/realty/'
          },
          {
            name: 'Инвестиционное страхование жизни',
            link: '/services/capital-plus/investicionnoe-strahovanie-zhizni/'
          },
          {
            name: 'Накопительное страхование жизни',
            link: '/services/capital-plus/nakopitelnoe-strahovanie-zhizni/'
          },
          {
            name: 'Застраховать',
            link: '/insurance/'
          },
          {
            name: 'Страхование жизни и здоровья',
            link: '/insurance/health/'
          },
          {
            name: 'Памятка по порядку уплаты страховых взносов',
            link: '/insurance/memo/'
          },
          {
            name: 'Продукт «Защита карты»',
            link: '/product-strakhovanie-kart/'
          },
          {
            name: 'Продукт «Вернуть просто»',
            link: '/services/to-return-just/'
          },
          {
            name: 'Страховая программа «Антивирус»',
            link: '/insurance/insurance-program-anti-virus/'
          },
          {
            name: 'Страхование домашних животных',
            link: '/insurance/dobryj-doktor/'
          },
        ]
      },
      {
        head: {
          name: 'Клиентам'
        },
        menu: [
          {
            name: 'Реквизиты',
            link: '/o-banke/essential/'
          },
          {
            name: 'Новости',
            link: '/news/?year=2022'
          },
          {
            name: 'Информация о процентных ставках по договорам банковского вклада с физическими лицами',
            link: '/For_CBRF/'
          },
          {
            name: 'Вниманию клиентов',
            link: '/the-most-important/cheaters/'
          },
        ]
      },
      {
        head: {
          name: 'Ещё',
          link: '/services/'
        },
        menu: [
          {
            name: 'Акции и скидки',
            link: '/discounts-and-promotions/'
          },
          {
            name: 'Индивидуальный пенсионный план',
            link: '/services/individualnye-pensionnye-plany-gazfond/'
          },
          {
            name: 'Сервисы юридической, налоговой и комплексной поддержки',
            link: '/services/multiservice/'
          },
          {
            name: 'Семейный Консьерж',
            link: '/services/the-family-concierge/'
          },
          {
            name: 'Пенсионный Консьерж',
            link: '/services/the-retirement-concierge/'
          },
          {
            name: 'Умная медицина',
            link: '/services/smart-medicine/'
          },
          {
            name: 'Монеты',
            link: '/vklady-i-scheta/monety/'
          },
          {
            name: 'Регистрация клиентов в единой биометрической системе',
            link: '/services/registration-in-biometric-system/'
          },
          {
            name: 'Аренда сейфовой ячейки',
            link: '/services/rent-of-safe-box/'
          },
          {
            name: 'Депозитарное обслуживание',
            link: '/services/depository-services/'
          },
          {
            name: 'Инвестиционное и брокерское обслуживание',
            link: 'https://invest.atb.su/'
          },
          {
            name: 'Интернет банк',
            link: '/services/remote-banking/'
          },
          {
            name: 'Мобильный банк',
            link: '/services/mobile/'
          },
          {
            name: 'SMS - сервис',
            link: '/services/dbo/?tab=sms'
          },
          {
            name: 'Цифровая карта',
            link: '/services/cifrovaya-karta/'
          },
          {
            name: 'Реализация имущества',
            link: '/services/collateral-property/'
          },
        ]
      },
    ],
  }

header.header
  .inner
    a.header__logo(href='/')
      +icon('icon_logo')
    .header__menu
      .header__top
        .header__top-left
          .header__top-select Физическим лицам
          .header__top-menu
            each item, index in headerMenu.top
              a.header__top-link(href=item.link class=index==0 ? 'header__top-link--active' : '')=item.name
        .header__tools
          a.header__lk(href='https://my.atb.su')
            +icon('icon_header_lk')
            span.header__e-bank-label new
          a.header__lang(href='/') RU
          .header__burger-icon
            span
            span
            span
      .header__bot
        .header__bot-right
          a.header__bot-connect.header__bot-connect--qa(href='/the-most-important/customer-care-service/')
            +icon('icon_header_mes')
            span.header__bot-connect-txt Вопросы и обращения
          a.header__bot-connect.header__bot-connect--bank(href='https://my.atb.su')
            +icon('icon_header_lk')
            span.header__bot-connect-txt Интернет -Банк
            span.header__e-bank-label new
    .header__burger
      .header__m-burger
        .header__m-burger-top
          a.header__m-burger-atms(href='/atms/') Отделения и банкоматы
          a.header__m-burger-city(href='/') Барнаул
        .header__m-burger-menu
          each block in headerMenu.burger
            .header__m-burger-item(class=block.isLastOnModile ? 'header__m-burger-item--last' : '')
              .header__m-burger-arrow=block.head.name
              .header__m-burger-drop
                .header__m-burger-inner
                  if block.sectionPageMobile
                    a.header__m-burger-link(href=block.sectionPageMobile.link)=block.sectionPageMobile.name
                  each point in block.menu
                    a.header__m-burger-link(href=point.link class=point.isChildOnMobile ? 'header__m-burger-link--child' : '')=point.name
        if isAMP === true
          a.header__m-burger-search(href='/')
            +ui-button('', '--search')
            span Поиск
        .header__m-burger-bot
          .header__m-burger-phone
            a.header__m-burger-tel(href='tel:+78007758888') 8-800-775-88-88
            .header__m-burger-desc Бесплатный звонок по России
          a.header__m-burger-call(href='https://zingaya.com/widget/0020bc7ab6b4dee75eb1e26253a9e0d0') Позвонить через интернет

    .header__shadow
