-
  let headerMenu ={
    top: [
      {
        name: 'Физическим лицам',
        link: '#'
      },
      {
        name: 'Бизнесу',
        link: '/business/'
      },
      {
        name: 'Премиальное обслуживание',
        link: '/status/'
      },
      {
        name: 'Финансовым организациям',
        link: '/for-financial-organizations/'
      },
      {
        name: 'Инвестиционные услуги',
        link: 'https://invest.atb.su'
      },
      {
        name: 'О банке',
        link: '/o-banke/'
      },
    ],
    bottom: [
      {
        name: 'Кредиты',
        inner: {
          columns: [
            {
              head: {
                name: 'Все потребительские кредиты',
                link: '/kredit/'
              },
              body: [
                {
                  name: 'Кредит наличными',
                  link: '/kredit/aktsionny/'
                },
              ]
            },
            {
              head: {
                name: 'Акции'
              },
              body: [
                {
                  name: 'Приведи друга и получи до 4000 ₽',
                  link: '/stock/refer-a-friend/',
                  mods: 'text-orange'
                },
                {
                  name: 'Чудеса под Новый год',
                  link: '#',
                  mods: 'header__bot-link--button',
                  icon: 'icon_header-star'
                },
              ]
            },
            {
              head: {
                name: 'Полезное'
              },
              body: [
                {
                  name: 'Способы погашения кредита',
                  link: '/kredit/sposoby-oplaty/'
                },
                {
                  name: 'Способы подтверждения доходов',
                  link: '/kredit/sposoby-predostavleniya-dohodov/'
                },
                {
                  name: 'Узнайте свой кредитный рейтинг',
                  link: 'https://www.atb.su/lp/credit_history/'
                },
                {
                  name: 'Реструктуризация кредитов',
                  link: '/rest/'
                },
              ]
            },
          ],
          ban: {
            img: 'header_ban-1.jpg',
            title: 'Кредит наличными',
            btnTxt: 'Подробнее',
            link: '/kredit/aktsionny/'
          }
        }
      },
      {
        name: 'Карты',
        inner: {
          columns: [
            {
              head: {
                name: 'Все кредитные карты ',
                link: '/cards/credit/'
              },
              body: [
                {
                  name: 'Карта «Универсальная»',
                  link: '/cards/credit/universalnaya-karta/'
                },
              ]
            },
            {
              head: {
                name: 'Все дебетовые карты',
                link: '/cards/debit/'
              },
              body: [
                {
                  name: 'Карта "АТБ 2.0"',
                  link: '/cards/debit/karta-atb-2-0/',
                  label: 'акция',
                  labelLink: '/akciya_vremya_radovaty/'
                },
                {
                  name: 'Карта командира',
                  link: '/card-world-of-warships/'
                },
                {
                  name: 'Карта «Кошелек»',
                  link: '/cards/debit/koshelek/',
                  label: 'акция',
                  labelLink: '/akciya_vremya_radovaty/'
                },
                {
                  name: 'Карта «Особый статус»',
                  link: '/cards/debit/social/'
                },
                {
                  name: 'Карта «Детская»',
                  link: '/cards/debit/detskaya-karta/'
                },
              ]
            },
            {
              head: {
                name: 'Платежные системы'
              },
              body: [
                {
                  name: 'Карты «Мир»',
                  link: '/cards/payment-system/mir/'
                },
                {
                  name: 'Карты Visa',
                  link: '/cards/payment-system/visa/'
                },
                {
                  name: 'Карты MasterCard ',
                  link: '/cards/payment-system/mastercard/'
                },
              ],
              foot: {
                icon: 'icon_header_discounts',
                txt: 'Акции и скидки',
                link: '/discounts-and-promotions/'
              }
            },
          ],
          ban: {
            img: 'header_ban-2.jpg',
            title: 'Карта «Универсальная» <br> До 120 дней без %',
            btnTxt: 'Подробнее',
            link: '/cards/credit/universalnaya-karta/'
          }
        }
      },
      {
        name: 'Ипотека',
        inner: {
          columns: [
            {
              head: {
                name: 'Все предложения',
                link: '/kredit/ipoteka/'
              },
              body: [
                {
                  name: 'Нецелевой',
                  link: '/kredit/ipoteka/kalkulyator/netselevoy/'
                },
                {
                  name: 'Приобретение готового жилья',
                  link: '/kredit/ipoteka/kalkulyator/gotovoe-zhile/'
                },
                {
                  name: 'Дальневосточная ипотека',
                  link: '/kredit/ipoteka/kalkulyator/vremya-zanyat-svoyu-territoriyu/'
                },
                {
                  name: 'Приобретение квартиры на этапе строительства',
                  link: '/kredit/ipoteka/kalkulyator/kvartira-na-ehtape-stroitelstva/'
                },
                {
                  name: 'Рефинансирование',
                  link: '/kredit/ipoteka/kalkulyator/perekreditovanie/'
                },
                {
                  name: 'Ипотека с гос.поддержкой ',
                  link: '/kredit/ipoteka/kalkulyator/ipoteka-s-gos-podderzhkoy/'
                },
              ]
            },
          ],
          ban: {
            img: 'header_ban-3.jpg',
            title: 'Ипотека «Готовое жилье» <br> От 10,5%',
            btnTxt: 'Подробнее',
            link: '/kredit/ipoteka/kalkulyator/gotovoe-zhile/'
          }
        }
      },
      {
        name: 'Накопления',
        inner: {
          columns: [
            {
              head: {
                name: 'Все вклады',
                link: '/vklady-i-scheta/'
              },
              body: [
                {
                  name: 'Вклад «АТБ. Вклад»',
                  link: '/vklady-i-scheta/atb-vklad/',
                  label: '22% годовых'
                },
                {
                  name: 'Вклад «Добро пожаловать»',
                  link: '/vklady-i-scheta/dobro-pozhalovat/'
                },
                {
                  name: 'Накопительный счет «Супер Копилка»',
                  link: '/more-money/bank-deposits/savings-accounts/'
                },
                {
                  name: 'Вклад «Сохрани+»',
                  link: '/vklady-i-scheta/sokhrani/'
                },
                {
                  name: 'Вклад «Управляй»',
                  link: '/vklady-i-scheta/upravlyay/'
                },
              ]
            },
            {
              head: {
                name: 'Счета'
              },
              body: [
                {
                  name: 'Счета эскроу',
                  link: '/vklady-i-scheta/eskrou/'
                },
                {
                  name: 'Банковские счета в драгоценных металлах',
                  link: '/vklady-i-scheta/metallicheskiy/'
                },
              ]
            },
            {
              head: {
                name: 'Полезное'
              },
              body: [
                {
                  name: 'Как использовать банковскую ячейку',
                  link: '/services/rent-of-safe-box/how-to-use-cell/'
                },
                {
                  name: 'Пополнить счет вклада',
                  link: '/more-money/recharge/"'
                },
              ]
            },
          ],
          ban: {
            img: 'header_ban-4.jpg',
            title: 'Вклад «АТБ. Вклад» <br> 22% на 92 дня',
            btnTxt: 'Подробнее',
            link: '/vklady-i-scheta/atb-vklad/'
          }
        }
      },
      {
        name: 'Платежи и переводы',
        inner: {
          columns: [
            {
              body: [
                {
                  name: 'Переводы с карты на карту',
                  link: 'https://my.atb.su/c2c-transfer/'
                },
                {
                  name: 'Переводы наличными',
                  link: '/services/transfer/'
                },
                {
                  name: 'Валютно-обменные операции',
                  link: '/services/exchange/'
                },
                {
                  name: 'Переводы СБП',
                  link: '/services/sbp/'
                },
              ]
            }
          ],
          ban: {
            img: 'header_ban-5.jpg',
            title: 'Переводы с карты на карту <br> Комиссия от 0 ₽',
            btnTxt: 'Подробнее',
            link: 'https://my.atb.su/c2c-transfer/'
          }
        }
      },
      {
        name: 'Страхование',
        inner: {
          columns: [
            {
              head: {
                name: 'Все страховые услуги',
                link: '/insurance/'
              },
              body: [
                {
                  name: 'Комплексное страхование',
                  link: '/insurance/multipoles/'
                },
                {
                  name: 'Страхование имущества',
                  link: '/insurance/realty/'
                },
                {
                  name: 'Инвестицинное страхование жизни',
                  link: '/services/capital-plus/investicionnoe-strahovanie-zhizni/'
                },
                {
                  name: 'Накопительное страхование жизни',
                  link: '/services/capital-plus/nakopitelnoe-strahovanie-zhizni/'
                },
                {
                  name: 'Продукт «Защита карты»',
                  link: '/product-strakhovanie-kart/'
                },
                {
                  name: 'Продукт «Вернуть просто»',
                  link: '/services/to-return-just/'
                },
              ]
            },
            {
              body: [
                {
                  name: 'Страхование жизни и здоровья',
                  link: '/insurance/health/',
                  desc: 'Страхование жизни и здоровья – это уверенность в будущем для вас и ваших близких'
                },
                {
                  mods: 'text-orange',
                  name: 'Страховая программа «Антивирус»',
                  link: '/insurance/insurance-program-anti-virus/',
                  desc: 'Страховая программа на случай выявления «Коронавирусной инфекции»'
                },
                {
                  name: 'Страхование домашних животных',
                  link: '/insurance/dobryj-doktor/',
                  desc: 'Помогаем заботиться о питомцах легко и удобно'
                },
              ]
            },
            {
              head: {
                name: 'Полезное'
              },
              body: [
                {
                  name: 'Памятка по порядку уплаты страховых взносов',
                  link: '/insurance/memo/'
                },
              ]
            },
          ],
          ban: {
            img: 'header_ban-6.jpg',
            title: 'Программа «Антивирус» <br> Выплаты до 500 000 ₽',
            btnTxt: 'Подробнее',
            link: '/insurance/insurance-program-anti-virus/'
          }
        }
      },
      {
        name: 'Акции и скидки',
        inner: {
          columns: [
            {
              head: {
                name: 'Заголовок',
                link: '#'
              },
              body: [
                {
                  name: 'Ссылка 1',
                  link: '#'
                },
                {
                  name: 'Ссылка 2',
                  link: '#'
                },
              ]
            },
            {
              head: {
                name: '',
                link: '#'
              },
              body: [
                {
                  name: '',
                  link: '#'
                },
              ]
            },
            {
              head: {
                name: 'Полезное'
              },
              body: [
                {
                  name: 'Ссылка 1',
                  link: '#'
                },
                {
                  name: 'Ссылка 2',
                  link: '#'
                },
              ]
            },
          ],
          ban: {
            img: 'header_ban-1.jpg',
            title: 'Заголовок',
            btnTxt: 'Подробнее',
            link: '#'
          }
        }
      },
      {
        name: 'Ещё',
        inner: {
          columns: [
            {
              head: {
                name: 'Онлайн-сервисы'
              },
              body: [
                {
                  name: 'Интернет-банк',
                  link: '/services/remote-banking/'
                },
                {
                  name: 'Мобильный банк',
                  link: '/services/mobile/'
                },
                {
                  name: 'SMS-сервис',
                  link: '/services/dbo/?tab=sms'
                },
                {
                  name: 'Цифровая карта',
                  link: '/services/cifrovaya-karta'
                },
              ]
            },
            {
              head: {
                name: 'Платежные сервисы'
              },
              body: [
                {
                  name: 'Кошелёк Pay',
                  link: '/cards/koshelyek-pay-atb/'
                },
                {
                  name: 'Samsung Pay',
                  link: '/cards/samsung-pay/'
                },
                {
                  name: 'Apple Pay',
                  link: '/cards/apple-pay/'
                },
                {
                  name: 'Google Pay',
                  link: '/cards/android-pay/'
                },
                {
                  name: 'Garmin Pay',
                  link: '/cards/garmin-pay/'
                },
                {
                  name: 'Mir Pay',
                  link: '/cards/mir-pay/'
                },
              ]
            },
            {
              head: {
                name: 'Банковские услуги'
              },
              body: [
                {
                  name: 'Акции и скидки',
                  link: '/discounts-and-promotions/'
                },
                {
                  name: 'Индивидуальный пенсионный план',
                  link: '/services/individualnye-pensionnye-plany-gazfond/'
                },
                {
                  name: 'Сервисы юридической, налоговой и комплексной поддержки',
                  link: '/services/multiservice/'
                },
                {
                  name: 'Семейный Консьерж',
                  link: '/services/the-family-concierge/'
                },
                {
                  name: 'Пенсионный Консьерж',
                  link: '/services/the-retirement-concierge/'
                },
                {
                  name: 'Умная медицина',
                  link: '/services/smart-medicine/'
                },
                {
                  name: 'Монеты',
                  link: '/vklady-i-scheta/monety/'
                },
                {
                  name: 'Регистрация клиентов в единой биометрической системе',
                  link: '/services/registration-in-biometric-system/'
                },
              ]
            },
            {
              body: [
                {
                  name: 'Аренда сейфовой ячейки',
                  link: '/services/rent-of-safe-box/'
                },
                {
                  name: 'Депозитарное обслуживание',
                  link: '/services/depository-services/'
                },
                {
                  name: 'Банковские счета в драгоценных металлах',
                  link: '/vklady-i-scheta/metallicheskiy/'
                },
                {
                  name: 'Реализация имущества',
                  link: '/services/collateral-property/'
                },
              ]
            },
          ]
        }
      },
    ],
    geo: [
      'Алтайский край',
      'Амурская область',
      'Еврейская автономная область',
      'Забайкальский край',
      'Иркутская область',
      'Республика Алтай',
      'Омская область',
      'Камчатский край',
      'Кемеровская область',
      'Красноярский край',
      'Магаданская область',
      'Москва и Московская область',
      'Приморский край',
      'Республика Бурятия',
      'Республика Саха (Якутия)',
      'Республика Хакасия',
      'Сахалинская область',
      'Свердловская область',
      'Хабаровский край',
      'Чукотский АО',
    ],
    burger: [
      {
        head: {
          name: 'Карты',
          link: '/cards/'
        },
        menu: [
          {
            name: 'Дебетовые карты',
            link: '/cards/debit/'
          },
          {
            name: 'Кредитные карты',
            link: '/cards/credit/'
          },
          {
            name: 'Платежные системы',
            link: '/cards/payment-system/'
          },
          {
            name: 'Кошелёк Pay',
            link: '/cards/koshelyek-pay-atb/'
          },
          {
            name: 'Samsung Pay',
            link: '/cards/samsung-pay/'
          },
          {
            name: 'Apple Pay',
            link: '/cards/apple-pay/'
          },
          {
            name: 'Google Pay',
            link: '/cards/android-pay/'
          },
          {
            name: 'Garmin Pay',
            link: '/cards/garmin-pay/'
          },
          {
            name: 'Mir Pay',
            link: '/cards/mir-pay/'
          },
        ],
        button: {
          txt: 'Получить карту',
          link: '/cards/credit/'
        }
      },
      {
        head: {
          name: 'Кредиты',
          link: '/kredit/'
        },
        sectionPageMobile: {
          name: 'Все потребительские кредиты',
          link: '/kredit/'
        },
        menu: [
          {
            isChildOnMobile: true,
            name: 'Кредит наличными',
            link: '/kredit/aktsionny/'
          },
          {
            name: 'Полезное',
            link: '/kredit/sposoby-oplaty/',
          },
          {
            name: 'Способы оплаты кредита',
            link: '/kredit/sposoby-oplaty/'
          },
          {
            name: 'Акция «Приведи друга»',
            link: '/stock/refer-a-friend/'
          },
          {
            name: 'Чудеса под новый год',
            link: '#',
            promoLabel: 'Акция',
          },
          {
            name: 'Способы подтверждения доходов',
            link: '/kredit/sposoby-predostavleniya-dohodov/'
          },
          {
            name: 'Узнайте свой кредитный рейтинг',
            link: 'https://www.atb.su/lp/credit_history/'
          },
          {
            name: 'Реструктуризация кредитов',
            link: '/rest/'
          },
        ]
      },
      {
        head: {
          name: 'Ипотека',
          link: '/kredit/ipoteka/'
        },
        sectionPageMobile: {
          name: 'Все ипотечные программы',
          link: '/kredit/ipoteka/'
        },
        menu: [
          {
            name: 'Готовое жилье',
            link: '/kredit/ipoteka/kalkulyator/gotovoe-zhile/'
          },
          {
            name: 'Дальневосточная ипотека',
            link: '/kredit/ipoteka/kalkulyator/vremya-zanyat-svoyu-territoriyu/'
          },
          {
            name: 'Приобретение квартиры на этапе строительства',
            link: '/kredit/ipoteka/kalkulyator/kvartira-na-ehtape-stroitelstva/'
          },
          {
            name: 'Рефинансирование',
            link: '/kredit/ipoteka/kalkulyator/perekreditovanie/'
          },
          {
            name: 'Ипотека с гос.поддержкой',
            link: '/kredit/ipoteka/kalkulyator/ipoteka-s-gos-podderzhkoy/'
          },
        ]
      },
      {
        head: {
          name: 'Вклады и счета',
          link: '/vklady-i-scheta/'
        },
        sectionPageMobile: {
          name: 'Все вклады',
          link: '/vklady-i-scheta/'
        },
        menu: [
          {
            name: 'Вклад «АТБ. Вклад»',
            link: '/vklady-i-scheta/atb-vklad/'
          },
          {
            name: 'Вклад «Добро пожаловать»',
            link: '/vklady-i-scheta/dobro-pozhalovat/'
          },
          {
            name: '«Накопительный счет Супер Копилка»',
            link: '/more-money/bank-deposits/savings-accounts/'
          },
          {
            name: 'Вклад «Сохрани+»',
            link: '/vklady-i-scheta/sokhrani/'
          },
          {
            name: 'Вклад «Управляй»',
            link: '/vklady-i-scheta/upravlyay/'
          },
          {
            name: 'Счета'
          },
          {
            name: 'Счета эскроу',
            link: '/vklady-i-scheta/eskrou/'
          },
          {
            name: 'Обезличенные металлические счета',
            link: '/vklady-i-scheta/metallicheskiy/'
          },
          {
            name: 'Полезное'
          },
          {
            name: 'Как использовать банковскую ячейку',
            link: '/services/rent-of-safe-box/how-to-use-cell/'
          },
          {
            name: 'Пополнить счет вклада',
            link: '/more-money/recharge/'
          },
        ]
      },
      {
        head: {
          name: 'Платежи и переводы'
        },
        menu: [
          {
            name: 'Переводы с карты на карту',
            link: 'https://my.atb.su/c2c-transfer/'
          },
          {
            name: 'Переводы наличными',
            link: '/services/transfer/'
          },
          {
            name: 'Валютно-обменные операции',
            link: '/services/exchange/'
          },
          {
            name: 'Переводы СБП',
            link: '/services/sbp/'
          },
        ]
      },
      {
        isLastOnModile: true,
        head: {
          name: 'О банке',
          link: '/o-banke/'
        },
        menu: [
          {
            name: 'Налогообложение иностранных счетов (FATCA)',
            link: '/compliance/fatca/'
          },
          {
            name: 'Руководство',
            link: '/o-banke/management-team/'
          },
          {
            name: 'Раскрытие информации',
            link: '/disclosure/charter-and-other-documents/'
          },
          {
            name: 'Акционерам и инвесторам',
            link: '/o-banke/shareholders-and-investors/'
          },
          {
            name: 'Инсайдерам',
            link: '/insider/'
          },
          {
            name: 'Тендеры',
            link: '/tenders/'
          },
          {
            name: 'Лицензии',
            link: '/o-banke/license/'
          },
          {
            name: 'Документы и тарифы',
            link: '/general-information/tariff-book/'
          },
          {
            name: 'Вакансии',
            link: '/jobs/'
          },
          {
            name: 'Отделения и банкоматы',
            link: '/atms/'
          },
          {
            name: 'Годовой отчет',
            link: '/upload/iblock/233/233ad70af1a3671a26b919c41e904b81.pdf'
          },
          {
            name: 'Страхование вкладов',
            link: '/about-strahovanii-deposits/'
          },
          {
            name: 'Извещения о сделках с заинтересованностью',
            link: '/closed_page/'
          },
          {
            name: 'Наша рассылка',
            link: '/subscribe-to-the-newsletter/'
          },
          {
            name: 'Пресс-центр',
            link: '/o-banke/press-tsentr/'
          },
        ]
      },
      {
        head: {
          name: 'Страхование',
          link: '/insurance/'
        },
        menu: [
          {
            name: 'Комплексное страхование',
            link: '/insurance/multipoles/'
          },
          {
            name: 'Страхование имущества',
            link: '/insurance/realty/'
          },
          {
            name: 'Инвестиционное страхование жизни',
            link: '/services/capital-plus/investicionnoe-strahovanie-zhizni/'
          },
          {
            name: 'Накопительное страхование жизни',
            link: '/services/capital-plus/nakopitelnoe-strahovanie-zhizni/'
          },
          {
            name: 'Застраховать',
            link: '/insurance/'
          },
          {
            name: 'Страхование жизни и здоровья',
            link: '/insurance/health/'
          },
          {
            name: 'Памятка по порядку уплаты страховых взносов',
            link: '/insurance/memo/'
          },
          {
            name: 'Продукт «Защита карты»',
            link: '/product-strakhovanie-kart/'
          },
          {
            name: 'Продукт «Вернуть просто»',
            link: '/services/to-return-just/'
          },
          {
            name: 'Страховая программа «Антивирус»',
            link: '/insurance/insurance-program-anti-virus/'
          },
          {
            name: 'Страхование домашних животных',
            link: '/insurance/dobryj-doktor/'
          },
        ]
      },
      {
        head: {
          name: 'Клиентам'
        },
        menu: [
          {
            name: 'Реквизиты',
            link: '/o-banke/essential/'
          },
          {
            name: 'Новости',
            link: '/news/?year=2022'
          },
          {
            name: 'Информация о процентных ставках по договорам банковского вклада с физическими лицами',
            link: '/For_CBRF/'
          },
          {
            name: 'Вниманию клиентов',
            link: '/the-most-important/cheaters/'
          },
        ]
      },
      {
        head: {
          name: 'Ещё',
          link: '/services/'
        },
        menu: [
          {
            name: 'Акции и скидки',
            link: '/discounts-and-promotions/'
          },
          {
            name: 'Индивидуальный пенсионный план',
            link: '/services/individualnye-pensionnye-plany-gazfond/'
          },
          {
            name: 'Сервисы юридической, налоговой и комплексной поддержки',
            link: '/services/multiservice/'
          },
          {
            name: 'Семейный Консьерж',
            link: '/services/the-family-concierge/'
          },
          {
            name: 'Пенсионный Консьерж',
            link: '/services/the-retirement-concierge/'
          },
          {
            name: 'Умная медицина',
            link: '/services/smart-medicine/'
          },
          {
            name: 'Монеты',
            link: '/vklady-i-scheta/monety/'
          },
          {
            name: 'Регистрация клиентов в единой биометрической системе',
            link: '/services/registration-in-biometric-system/'
          },
          {
            name: 'Аренда сейфовой ячейки',
            link: '/services/rent-of-safe-box/'
          },
          {
            name: 'Депозитарное обслуживание',
            link: '/services/depository-services/'
          },
          {
            name: 'Инвестиционное и брокерское обслуживание',
            link: 'https://invest.atb.su/'
          },
          {
            name: 'Интернет банк',
            link: '/services/remote-banking/'
          },
          {
            name: 'Мобильный банк',
            link: '/services/mobile/'
          },
          {
            name: 'SMS - сервис',
            link: '/services/dbo/?tab=sms'
          },
          {
            name: 'Цифровая карта',
            link: '#'
          },
          {
            name: 'Реализация имущества',
            link: '#'
          },
        ]
      },
    ],
  }

-
  let headerBurgerPhoneItems = [
    {
      href: 'tel:+78007758888',
      text: '8-800-775-88-88',
      desc: 'Бесплатный звонок по России',
    },
    {
      href: 'tel:+74162222333',
      text: '+7(4162) 222-333',
      desc: 'Для звонков из-за рубежа',
    },
    {
      href: 'tel:*3040',
      text: '3040',
      textModsDeskt: 'header__d-burger-tel--icons',
      textModsMob: 'header__m-burger-tel--icons',
      desc: 'Звонок с мобильного бесплатный',
    },
    {
      href: 'tel:+78007758080',
      text: '8-800-775-80-80',
      desc: 'Бизнесу',
    },
  ]

header.header
  .inner
    a.header__logo(href='/')
      if isNewYear
        img(src='/img/svgs/icon_logo_ny.svg', alt='')
      else
        +icon('icon_logo')
    .header__menu
      .header__top
        .header__top-left
          .header__top-select Физическим лицам
          .header__top-menu
            each item, index in headerMenu.top
              a.header__top-link(href=item.link class=index==0 ? 'header__top-link--active' : '')=item.name
        .header__tools
          .header__tools-item.header__tools-item--city.js-open-geo
            +icon('header--icon-geo')
            | Москва
          a.header__tools-item(href='/atms/') Отделения и банкоматы
          .header__tools-item.header__call
            +icon('header--icon-tel')
            | Связаться с нами
            .header__call-content(style='display: none;')
              .header__call-block
                .header__call-close
                .header__call-top
                  .header__call-item
                    a(href='tel:+78007758888') 8-800-775-8888
                    span Бесплатный звонок по России
                  .header__call-item
                    a(href='tel:+74162222333') +7(4162) 222 333
                    span Для звонков из-за рубежа
                  .header__call-item.header__call-item--icon
                    a(href='tel:*3040') 3040
                    span Звонок с мобильного бесплатный
                  .header__call-item
                    a(href='tel:+78007758080') 8-800-775-80-80
                    span Бизнесу
                .header__call-bot
                  a.header__call-action(href='https://zingaya.com/widget/c34de30a5741010286992ece27388dd0') Позвонить через интернет
          a.header__lk(href='https://my.atb.su')
            +icon('header--icon-lk')
            span.header__e-bank-label new
          .header__lang RU
            .header__lang-content(style='display: none;')
              .header__lang-list
                a.header__lang-item(href='http://www.eng.atb.su/') ENG
                a.header__lang-item(href='http://chinese.atb.su/') 中文
          a.header__bvi.bvi-open(href='#')
          .header__search-open
            +icon('header--icon-search')
          .header__burger-icon
            span.bvi-no-styles
            span.bvi-no-styles
            span.bvi-no-styles
      .header__bot
        .header__bot-menu.bvi-hide
          each item in headerMenu.bottom
            if item.link
              .header__bot-item.header__bot-item--link
                a.header__bot-btn(href=item.link)=item.name
            else
              .header__bot-item
                .header__bot-btn=item.name
                .header__bot-drop
                  .header__bot-inner
                    each col in item.inner.columns
                      .header__bot-col
                        if col.head
                          if col.head.link
                            a.header__bot-head.header__bot-head--link(href=col.head.link)=col.head.name
                          else
                            .header__bot-head=col.head.name
                        each innerLink in col.body
                          .header__bot-link(class=innerLink.mods)
                            a(href=innerLink.link)
                              if innerLink.icon
                                +icon(innerLink.icon)
                              | !{innerLink.name}
                            if innerLink.label
                              if innerLink.labelLink
                                a.header__promo-label(href=innerLink.labelLink)=innerLink.label
                              else
                                span.header__promo-label=innerLink.label
                          if innerLink.desc
                            .header__bot-desc=innerLink.desc
                    if item.inner.ban
                      a.header__ban(href=item.inner.ban.link)
                        .header__ban-img
                          img(src=`/img/${item.inner.ban.img}`, alt='')
                        .header__ban-title !{item.inner.ban.title}
                        +ui-button(item.inner.ban.btnTxt, '--empty')
        .header__bot-right
          .header__bot-connect.header__bot-connect--qa
            a.header__bot-connect-button.header__bot-connect-button--link(href='#')
              .header__bot-connect-icon
                +icon('header--icon-qa')
              span.header__bot-connect-txt Служба заботы
            .header__bot-connect-button.header__bot-connect-button--div
              .header__bot-connect-icon
                +icon('header--icon-qa')
              span.header__bot-connect-txt Служба заботы
            .header__bot-connect-hidden(style='display: none;')
              .header__bot-connect-main
                .header__bot-connect-item
                  +ui-button('Ответы на вопросы по&nbsp;продуктам ', '--text, --unset-all, --hover-underline-color')(href='#')
                    span.text-inline-flex и сервисам
                      +icon('icon_next')
                .header__bot-connect-item
                  +ui-button('Изменения в&nbsp;связи с&nbsp;СВО ', '--text, --unset-all, --hover-underline-color')(href='#')
                    span.text-inline-flex и санкциями
                      +icon('icon_next')
                .header__bot-connect-item
                  +ui-button('Прием ', '--text, --unset-all, --hover-underline-color')(href='#')
                    span.text-inline-flex обращений
                      +icon('icon_next')
          a.header__bot-connect.header__bot-connect--bank(href='https://my.atb.su')
            .header__bot-connect-icon
              +icon('header--icon-lk')
            span.header__bot-connect-txt Интернет -Банк
            //- span.header__e-bank-label new
    .header__search
      .header__search-inner
        form.header__search-form(action='#')
          button.header__search-btn
            +icon('header--icon-search')
          input#headerSearch.header__search-input.js-search-result(type='text' placeholder='Начните поиск, используя поле ввода' autocomplete='off')
          .header__search-close
            +icon('header--icon-close-search')
      .header__search-results
        .header__search-inner
          ul
            li
              a(href='#')
                span.highlight бизнес
                |  идея
            li
              a(href='#')
                span.highlight бизнес
                |  аналитика
            li
              a(href='#') Все для
                span.highlight  бизнес
                | а
    .header__burger
      .header__d-burger
        .header__d-burger-contacts
          each item in headerBurgerPhoneItems
            .header__d-burger-phone
              a.header__d-burger-tel(class=item.textModsDeskt href=item.href)=item.text
              .header__d-burger-desc !{item.desc}
        each block, index in headerMenu.burger
          .header__d-burger-block(class=index<=1 ? 'header__d-burger-block--no-border' : '')
            if block.head.link
              a.header__d-burger-head(href=block.head.link)=block.head.name
            else
              .header__d-burger-head=block.head.name
            each point in block.menu
              if point.link
                a.header__d-burger-link.js-burger-close(href=point.link)=point.name
              else
                .header__d-burger-subtitle=point.name
            if block.button
              +ui-button(block.button.txt)(href=block.button.link)
      .header__m-burger
        .header__m-burger-top
          a.header__m-burger-atms(href='/atms/') Отделения и банкоматы
          .header__m-burger-city.js-open-geo Барнаул
        .header__m-burger-menu
          each block in headerMenu.burger
            .header__m-burger-item(class=block.isLastOnModile ? 'header__m-burger-item--last' : '')
              .header__m-burger-arrow=block.head.name
              .header__m-burger-drop
                .header__m-burger-inner
                  if block.sectionPageMobile
                    .header__m-burger-line
                      a.header__m-burger-link(href=block.sectionPageMobile.link)=block.sectionPageMobile.name
                  each point in block.menu
                    .header__m-burger-line(class=point.isChildOnMobile ? 'header__m-burger-line--child' : '')
                      a.header__m-burger-link.js-burger-close(href=point.link)=point.name
                        if point.promoLabel
                          .header__promo-label !{point.promoLabel}
        form.header__m-burger-search
          +ui-button('', '--search', true)
          input#headerSearchMobile(type='text' placeholder='Поиск' autocomplete='off')
        .header__m-burger-bot
          .header__m-burger-phone
            each item in headerBurgerPhoneItems
              .header__m-burger-phone
                a.header__m-burger-tel(class=item.textModsMob href=item.href)=item.text
                .header__m-burger-desc !{item.desc}
          a.header__m-burger-call(href='https://zingaya.com/widget/0020bc7ab6b4dee75eb1e26253a9e0d0') Позвонить через интернет
    .header__geo
      .header__geo-inner
        .header__geo-top
          +icon('icon_logo').bvi-no-styles
          form.header__geo-search(action='#')
            .header__geo-input
              input#headerGeoSearch.js-geo-result(type='text' autocomplete='off')
              ul.header__geo-results
                li
                  a(href='#') Амурск
                li
                  a(href='#') Амурск
            .header__geo-close
        .header__geo-bot.header__geo-bot--all
          .header__geo-right
            .header__geo-current Москва
            .header__geo-list
              each point in headerMenu.geo
                a.header__geo-item.js-header__geo-item(href='#')=point
        .header__geo-bot.header__geo-bot--select.header__geo-bot--hidden
          .header__geo-back Все регионы
          .header__geo-right
            .header__geo-region Магаданская область
            .header__geo-list
              a.header__geo-item(href='#') Магадан
    .header__shadow
