mixin tabs-slider(data, mods)
  -
    const baseName = 'tabs-slider'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .tabs-slider(class=allMods)&attributes(attributes)
    .tabs-slider__info
      +ui-h2(data.heading, 'tabs-slider')
      .tabs-slider__nav
        each tab, index in data.nav
          .tabs-slider__tab(class=index==0 ? 'tabs-slider__tab--active' : '') !{tab.text}
      .tabs-slider__content
        .swiper-wrapper
          block
      .tabs-slider__btns
        .tabs-slider__btn.tabs-slider__btn--prev
        .tabs-slider__btn.tabs-slider__btn--next
    .tabs-slider__pic
      .tabs-slider__bg
        img(src=data.pic.background, alt='')
      .tabs-slider__images
        .swiper-wrapper
          each slide in data.pic.images
            .tabs-slider__img.swiper-slide
              .tabs-slider__screen
                img(src=slide.screen, alt='')
              .tabs-slider__anim
                each anim in slide.anim
                  .tabs-slider__anim-item(class=`tabs-slider__anim-item--${anim.mod}`)
                    img(src=anim.img, alt='')
    .tabs-slider__scrollbar

mixin tabs-slider__txt-slide(mods)
  -
    const baseName = 'tabs-slider__txt-slide'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .tabs-slider__txt-slide.swiper-slide(class=allMods)&attributes(attributes)
    block

mixin tabs-slider__app-links(mods)
  -
    const baseName = 'tabs-slider__app-links'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .tabs-slider__app-links(class=allMods)&attributes(attributes)
    a.tabs-slider__app(href='#')
      img(src='img/App_Store_Badge.svg', alt='')
    a.tabs-slider__app(href='#')
      img(src='img/google-play-badge.svg', alt='')
    .tabs-slider__qr
      img(src='img/sbp-pay_qr-code.png', alt='')
    block
