mixin smart-medicine-programs(type, mods)
  -
    const baseName = 'smart-medicine-programs'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const smartMedicineTable_1 = {
      head: [
        'Услуга',
        '<span>Умная Медицина</span> Стандарт',
        '<span>Умная Медицина</span> Max',
        '<span>Умная Медицина</span> Ультра',
      ],
      body: [
        {
          title: 'Дистанционные устные консультации по медицинским вопросам (24/7)',
          desc: 'Устные консультации по бесплатной телефонной линии. Специалисты по имеющимся медицинским показаниям предоставят консультацию (в справочных целях без постановки официального диагноза).',
          td: [
            '8 раз в год',
            '12 раз в год',
            '24 раз в год',
          ],
        },
        {
          title: 'Дистанционная экстренная устная консультация (24/7)',
          desc: 'Устная консультация по вопросам, требующим немедленного реагирования (любой случай возникший за 2 часа до обращения на линию)',
          td: [
            'Безлимитно',
            'Безлимитно',
            'Безлимитно',
          ],
        },
        {
          title: 'Письменная консультация «Второе мнение» (Россия)',
          desc: 'Письменная консультация врача-специалиста ведущей клиники Российской Федерации. Предоставляется при наличии первичного заключения врача при условии предоставления Клиентом документов и информации, запрошенных специалистом.',
          td: [
            '1 раз в год',
            '2 раза в год',
            '3 раза в год',
          ],
        },
        {
          title: 'Очная консультация «Второе мнение» (Россия)',
          desc: 'Очная консультация врача-специалиста ведущей клиники Российской Федерации. Предоставляется при наличии первичного заключения врача при условии предоставления Клиентом документов и информации, запрошенных специалистом.',
          td: [
            '-',
            'По показаниям',
            'По показаниям',
          ],
        },
        {
          title: 'Фармацевтический переводчик',
          desc: 'Предоставление информации об аналогах лекарственных средств, исходя из эффективности, данных о составе и наличии препаратов схожих по составу. А также Предоставление информации о запрошенном Клиентом медицинском препарате согласно официальной аннотации к лекарственному средству.',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Расшифровка анализов',
          desc: 'Предоставление детальной устной расшифровки анализов клиента с объяснением состояния клиента',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Обратный звонок “Все в порядке?” ',
          desc: 'В течение всего срока действия сертификата, специалист совершает плановый звонок в удобное для Клиента время, чтобы удостовериться, что со здоровьем Клиента все в порядке и при необходимости оказывает консультацию.',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Умная госпитализация',
          desc: 'Помощь в подборе и госпитализации в необходимый стационар как по ОМС так и платно, в том числе вся справочная информация о диагностических центрах, поликлиниках, больницах, врачах, лабораториях.',
          td: [
            '1 раз в год',
            '2 раза в год',
            '3 раза в год',
          ],
        },
        {
          title: 'Медицинская дорожная карта',
          desc: 'Помощь в подборе врача или ЛПУ для платного или бесплатного лечения в любом городе РФ, в том числе вся справочная информация о диагностических центрах, поликлиниках, больницах, врачах, лабораториях.',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Вызов экстренных служб',
          desc: 'Предоставление Клиенту номеров служб экстренного реагирования, действующих на территории России (МЧС, Полиция, Скорая помощь). А также оказание услуги вызова данных служб по просьбе Клиента',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Семейное здоровье',
          desc: 'Предоставление помощи по сертификату клиенту и еще одному человеку старше 18 лет.',
          td: [
            '-',
            '-',
            'Включено',
          ],
        },
        {
          title: 'Личный кабинет',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Бесплатные звонки',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Стоимость сертификата',
          td: [
            '5 200 ₽',
            '8 500 ₽',
            '14 500 ₽',
          ],
        },
        {
          title: 'Срок действия сертификата',
          td: [
            '1 год',
            '1 год',
            '1 год',
          ],
        },
      ]
    }

    const smartMedicineTable_2 = {
      head: [
        'Умная Медицина',
        'Эпидемиологический блок',
      ],
      body: [
        {
          title: 'Дистанционные экстренные устные консультации по вопросам первых симптомов при 2019-nCoV (Коронавирус)',
          desc: 'Устные консультации по бесплатной телефонной линии. Специалисты по имеющимся медицинским показаниям предоставят консультацию (в справочных целях без постановки официального диагноза).',
          td: [
            'Безлимитно',
          ],
        },
        {
          title: 'Дистанционные экстренные устные консультации по вопросам последствий переноса 2019-nCoV (Коронавирус)',
          desc: 'Устные консультации через средства видеосвязи. Специалисты по имеющимся медицинским показаниям предоставят консультацию (в справочных целях без постановки официального диагноза).',
          td: [
            'Безлимитно',
          ],
        },
        {
          title: 'Эпидемиологический навигатор',
          desc: 'Помощь в подборе ЛПУ продолжающих свою работу в условиях эпидемии. Помощь в подборе ЛПУ специализирующихся на помощи пациентам с 2019-nCoV (Коронавирус) в любом городе РФ, в том числе вся справочная информация о диагностических центрах, поликлиниках, больницах, врачах, лабораториях.',
          td: [
            'Безлимитно',
          ],
        },
        {
          title: 'Умный карантин',
          desc: 'Предоставление клиенту детализированных разъяснений о мерах предосторожности введённых в связи с распространением 2019-nCoV (Коронавирус)',
          td: [
            'Безлимитно',
          ],
        },
        {
          title: 'Дистанционная экстренная устная консультация (24/7)',
          desc: 'Устная консультация по вопросам, требующим немедленного реагирования (любой случай возникший за 2 часа до обращения на линию)',
          td: [
            'Безлимитно',
          ],
        },
        {
          title: 'Вызов экстренных служб',
          desc: 'Предоставление Клиенту номеров служб экстренного реагирования, действующих на территории России (МЧС, Полиция, Скорая помощь). А также оказание услуги вызова данных служб по просьбе Клиента',
          td: [
            'Безлимитно',
          ],
        },
        {
          title: 'Срок действия сертификата',
          td: [
            '1 год',
          ],
        },
      ]
    }

    const telemedicineTable = {
      head: [
        'Параметры',
        '<span>Телемедицина</span> База',
        '<span>Телемедицина</span> Стандарт',
        '<span>Телемедицина</span> Максимум',
      ],
      body: [
        {
          td: [
            'Оказание медицинской помощи с применением телемедицинских технологий',
          ],
          innerTr: {
            mod: 'big',
            td: [
              [
                'Медицинские консультации дежурного врача (терапевт/ педиатр, врач общей практики) – без ограничений',
                'Медицинские консультации дежурного врача (терапевт/ педиатр, врач общей практики) – без ограничений',
                'Медицинские консультации дежурного врача (терапевт/ педиатр, врач общей практики) – без ограничений',
              ],
              [
                'Медицинские консультации узких медицинских специалистов (18 специализаций) – 10 консультаций',
                'Медицинские консультации узких медицинских специалистов (18 специализаций) – 15 консультаций',
                'Медицинские консультации узких медицинских специалистов (18 специализаций) – без ограничений',
              ],
              [
                'Консультации психолога – 10 консультаций',
                'Консультации психолога – 15 консультаций',
                'Консультации психолога – без ограничений',
              ],
              [
                'Второе медицинское мнение (РФ) – 2 обращения',
                'Второе медицинское мнение (РФ) – 3 обращения',
                'Второе медицинское мнение (РФ) – 4 обращения',
              ],
              [
                'Очная консультация «Второе мнение» (РФ) – по показаниям*',
                'Очная консультация «Второе мнение» (РФ) – по показаниям*',
                'Очная консультация «Второе мнение» (РФ) – по показаниям*',
              ],
              [
                'Медицинская поддержка – без ограничений',
                'Медицинская поддержка – без ограничений',
                'Медицинская поддержка – без ограничений',
              ],
            ],
          },
        },
        {
          mod: 'total',
          td: [
            'Стоимость',
            '6 000 ₽',
            '8 500 ₽',
            '15 000 ₽',
          ],
        },
      ]
    }

    const teledoctorTable = {
      head: [
        'Услуга/Тарифный план',
        '<span>Теледоктор24</span> Лайт',
        '<span>Теледоктор24</span> Стандарт',
        '<span>Теледоктор24</span> Голд',
      ],
      body: [
        {
          title: 'Предоставление услуг клиенту и его детям, не достигшим 18 лет',
          td: [
            'Нет',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Консультации дежурного терапевта или педиатра',
          td: [
            'Безлимитно',
            'Безлимитно',
            'Безлимитно',
          ],
        },
        {
          title: 'Консультации врачей узкопрофильных специальностей',
          td: [
            '6 консультаций',
            'Безлимитно',
            'Безлимитно',
          ],
        },
        {
          title: 'Консультации профильного психолога',
          td: [
            '3 консультации',
            '6 консультаций',
            'Безлимитно',
          ],
        },
        {
          title: 'Личный кабинет',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Предоставление медицинского заключения в электронной форме по результатам медицинских консультаций',
          td: [
            '1 раз в год',
            '3 раза в год',
            '6 раз в год',
          ],
        },
        {
          title: 'Второе медицинское мнение (второе мнение по поставленному диагнозу)',
          td: [
            '1 раз в год',
            '3 раза в год',
            '6 раз в год',
          ],
        },
        {
          title: 'Помощь в подборе врача и медицинского учреждения',
          td: [
            '1 раз в год',
            '3 раза в год',
            '6 раз в год',
          ],
        },
        {
          title: 'Консультация по видеосвязи',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Предоставление информации об аналогах лекарственных препаратов и их составах в соответствии с медицинской аннотацией',
          td: [
            'Безлимитно',
            'Безлимитно',
            'Безлимитно',
          ],
        },
        {
          title: 'Предоставление детальной устной расшифровки анализов клиента с объяснением состояния клиента',
          td: [
            '6 консультаций',
            'Безлимитно',
            'Безлимитно',
          ],
        },
        {
          title: 'Сопровождение клиента – плановый звонок о состоянии здоровья клиента в удобное ему время',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Помощь в подборе и госпитализации клиента как по полису ОМС, так и платно + справочная информация о больницах, лабораториях, врачах и диагностических центрах',
          td: [
            '1 раз в год',
            '3 раза в год',
            '6 раз в год',
          ],
        },
        {
          title: 'Скорая помощь (экстренные консультации и вызов экстренных служб)',
          td: [
            'Безлимитно',
            'Безлимитно',
            'Безлимитно',
          ],
        },
        {
          title: 'Консультация диетолога',
          td: [
            '3 консультации',
            '6 консультаций',
            'Безлимитно',
          ],
        },
        {
          title: 'Срок действия сертификата',
          td: [
            '1 год',
            '1 год',
            '1 год',
          ],
        },
        {
          title: 'Звонки 8-800 бесплатно',
          td: [
            'Включено',
            'Включено',
            'Включено',
          ],
        },
        {
          title: 'Стоимость сертификата (руб., включая НДС)',
          td: [
            '5 500 ₽',
            '8 500 ₽',
            '14 500 ₽',
          ],
        },
      ]
    }

  case type
    when 'smart-medicine'
      .smart-medicine-programs(class=allMods)&attributes(attributes)
        +ui-h2('Программы', 'smart-medicine-programs')
        .smart-medicine-programs__tables-wrapper
          .smart-medicine-programs__table-block
            .smart-medicine-programs__table.smart-medicine-programs__table--clmn_four
              .smart-medicine-programs__table-th
                each item in smartMedicineTable_1.head
                  .smart-medicine-programs__table-th-td !{item}
              .smart-medicine-programs__table-body
                each row in smartMedicineTable_1.body
                  .smart-medicine-programs__table-tr
                    .smart-medicine-programs__table-td
                      .smart-medicine-programs__table-td-title !{row.title}
                      if row.desc
                        | !{row.desc}
                    each td in row.td
                      .smart-medicine-programs__table-td !{td}
          .smart-medicine-programs__table-block
            .smart-medicine-programs__table-block-descr Эпидемиологический блок (аналогичный для всех программ)
            .smart-medicine-programs__table.smart-medicine-programs__table--clmn_two
              .smart-medicine-programs__table-th
                each item in smartMedicineTable_2.head
                  .smart-medicine-programs__table-th-td !{item}
              .smart-medicine-programs__table-body
                each row in smartMedicineTable_2.body
                  .smart-medicine-programs__table-tr
                    .smart-medicine-programs__table-td
                      .smart-medicine-programs__table-td-title !{row.title}
                      if row.desc
                        | !{row.desc}
                    each td in row.td
                      .smart-medicine-programs__table-td !{td}
        .smart-medicine-programs__docs-wrapper
          .smart-medicine-programs__docs-item
            .smart-medicine-programs__docs-item-icon
              a(href='upload/Умная_медицина.pdf')
            .smart-medicine-programs__docs-item-name
              a(href='upload/Умная_медицина.pdf') Программы Умная Медицина
          .smart-medicine-programs__docs-item
            .smart-medicine-programs__docs-item-icon
              a(href='upload/Эпидемиологический_блок.pdf')
            .smart-medicine-programs__docs-item-name
              a(href='upload/Эпидемиологический_блок.pdf') Эпидемиологический блок
                br
                | (аналогичный для всех программ)
        block

    when 'telemedicine'
      .smart-medicine-programs(class=allMods)&attributes(attributes)
        +ui-h2('Программы', 'smart-medicine-programs')
        .smart-medicine-programs__tables-wrapper
          .smart-medicine-programs__table-block
            .smart-medicine-programs__table.smart-medicine-programs__table--telemedicine.smart-medicine-programs__table--clmn_four
              .smart-medicine-programs__table-th
                each td in telemedicineTable.head
                  .smart-medicine-programs__table-th-td !{td}
              .smart-medicine-programs__table-body
                each tr in telemedicineTable.body
                  .smart-medicine-programs__table-tr(class=tr.mod ? `smart-medicine-programs__table-tr--${tr.mod}` : '')
                    each td in tr.td
                      .smart-medicine-programs__table-td !{td}
                    if tr.innerTr
                      .smart-medicine-programs__table-td(class=tr.innerTr.mod ? `smart-medicine-programs__table-td--${tr.innerTr.mod}` : '')
                        each item in tr.innerTr.td
                          .smart-medicine-programs__table-tr
                            each point in item
                              .smart-medicine-programs__table-td !{point}
        .smart-medicine-programs__docs-wrapper
          .smart-medicine-programs__docs-item
            .smart-medicine-programs__docs-item-icon
              a(href='upload/Телемедицина.pdf')
            .smart-medicine-programs__docs-item-name
              a(href='upload/Телемедицина.pdf') Программы Телемедицина
        block

    when 'teledoctor'
      .smart-medicine-programs(class=allMods)&attributes(attributes)
        +ui-h2('Программы', 'smart-medicine-programs')
        .smart-medicine-programs__tables-wrapper
          .smart-medicine-programs__table-block
            .smart-medicine-programs__table.smart-medicine-programs__table--clmn_four
              .smart-medicine-programs__table-th
                each item in teledoctorTable.head
                  .smart-medicine-programs__table-th-td !{item}
              .smart-medicine-programs__table-body
                each row in teledoctorTable.body
                  .smart-medicine-programs__table-tr
                    .smart-medicine-programs__table-td
                      .smart-medicine-programs__table-td-title !{row.title}
                      if row.desc
                        | !{row.desc}
                    each td in row.td
                      .smart-medicine-programs__table-td !{td}
        .smart-medicine-programs__docs-wrapper
          .smart-medicine-programs__docs-item
            .smart-medicine-programs__docs-item-icon
              a(href='pdf/Теледоктор24.pdf')
            .smart-medicine-programs__docs-item-name
              a(href='pdf/Теледоктор24.pdf') Программы Теледоктор24
